<h1>{{GetCode(Forum.NoForum)}}</h1>

<div class='container'>
    <div class='row'>
        <div class='col-md-12 center'>
            <div class='info'><i class='fa fa-info'></i>
               {{GetCode(Forum.NewForumDescription)}}
                {{forumForm}}
        </div>
    </div>
</div>
        
