<div class='flex'>
	<div class='col_9 alignCenter'>
        !tbName <br/>
        
        </div>
        <div id='dvField'>
            <h3 style='display:inline;color:blue' >!field</h3>
            <b class='fa fa-plus' onclick='IdeElement.AddFieldWidget("taField")'>&nbsp</b>
            <br/>
            <table id='taField'>
                <tr>
                    <th>Name</th><th>Type</th><th>Null</th>
                </tr>
            </table>
        </div>
        
        <div class='alignCenter' id='dvResultWidget'>
        </div>
        !btnCreate
</div>    

