<section>
    <h2>Paid with Adyen</h2>
    <label>Card number</label>
    <input class='form form-control' type='text' />    
</section>

<script>
    
    document.addEventListener("DOMContentLoaded", function() {
        Plugin.Register("AdyenPlugin", "PaidPlugin");
    });
</script>