{{form->Open()}}
{{form->Error()}}
{{form->Success()}}

{{form->Render(Id)}}


{{form->Render(AppName)}}

{{form->Render(AppId)}}

    <div>
        <label>{{GetCode(EeApp.Plugin)}}</label> 
        {{form->Render(PluginId)}}
    </div>

    <div class='center marginTop' >   
        {{form->Render(btnAddPluginToApp)}}
    </div>  

{{form->Close()}}