<section>
    <div id='container' >
        <div class='item'>
            <h1>Item 1</h1>
            <img src='{{GetPath(/Data/Apps/Mooc/3/full.png)}}'></img>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p>
        </div>

        <div class='item' style='display:none'>
            <h1>Item 2</h1>
            <img src='{{GetPath(/Data/Apps/Mooc/5/full.png)}}'></img>
            <p> Lorem ipsus
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
        </div>

        <div class='item' style='display:none'>
            <h1>Item 3</h1>
            <img src='{{GetPath(/Data/Apps/Mooc/6/full.png)}}'></img>
            <p> Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
        </div>
    </div>
</section>

<style>

    #container img{
        width:300px;
    }
</style>


<script>


    Animation.Caroussel("container");
</script>