<section>
   Click on the picto to open the contextMenu
   <i id='btnMenu' style='cursor:pointer'class='fa fa-list'>&nbsp;</i>
</section>


<script>
    Event.AddById("btnMenu", "click", function(e){
  
            menuNew = new ContextMenu(e);
            menuNew.App = "PuzzleApp";
            menuNew.Methode = "GetDemoActionMenu";
            menuNew.Params = "";
            
            menuNew.onLoaded = function () {

                Dashboard.AddEventById("mn1", "click", function(){
                    ContextMenu.Close();
                    Animation.Notify("You have clicked on Menu 1");
                });
                
                Event.AddById("mn2", "click", function(){
                    ContextMenu.Close();
                    Animation.Notify("You clicked on Menu 2");
             });
            };

            menuNew.Show();
    
    });
    
    
</script>
