<section>
    <div id='container'>
        Data to load
    </div>
    
    {{GetControl(Button,btnHide,{LangValue=Send request,CssClass=btn btn-primary,Id=btnSendRequest,)})}}

</section>
<script>
     let data = "Class=PuzzleApp&Methode=GetInfoForRequest&App=PuzzleApp";
      
      Event.AddById("btnSendRequest", "click", function(){
          
      Request.Post("Ajax.php", data).then(data => {
               Animation.Load("container", data); 
        });
    });
</script>
