<section>
    <div id='container'>
        <img src='{{GetPath(/Data/Apps/Mooc/3/full.png)}}'></img>
        <img src='{{GetPath(/Data/Apps/Mooc/5/full.png)}}'></img>
        <img src='{{GetPath(/Data/Apps/Mooc/6/full.png)}}'></img>
    </div>
    
    
</section>

    <style>
        #container img{
        width:50px;
        cursor:pointer;
        }
    </style>  
    <script>
        Animation.AddViewer("container");
        
        
    </script>