#descriptionDiscuss{
    
    border-bottom: 1px solid #bebebe;
    font-size:22px;
    color:#2bb4ac;
}

#appRunComunity #dashboardDiscus
{
    max-height : none;
}
#descriptionDiscuss .buttons{
    border-top: 1px solid #bebebe;
    text-align : center;
    margin:10px;
    font-size:16px;
    padding-top: 10px;
}

#descriptionDiscuss .buttons fa, #appRunComunity .buttons fa{
    margin-left: 15px;
}
.parlonsEn .message{
    margin:5px;
}



#descriptionDiscuss .commentaires{
    font-size:12px;
    float:right;
}

.message .projet
{
    color :grey;
    font-size :25px;
    
}

.parlonsEn .message div , .discussMessage div{
    display:inline-block;
     vertical-align: top;
}

.parlonsEn .message div .avatarmini-img
{
   
}

.parlonsEn .message .messageUser, .discussMessage .message{
    border: 1px solid grey;
    border-radius : 8px;
    padding : 5px;
    min-width : 250px;
    max-width:80%;
}


.parlonsEn .message .messageUser b{
    display : block;
}
.parlonsEn .message .messageUser .buttons b{
    display: inline;
}
.parlonsEn .message .messageUser .buttons{
    width:100%;
    text-align: right; 
}

.fa-comment, .fa-trash, .fa-share, .fa-book, .fa-home {
  cursor:pointer;  
}

p.date{
    font-size:11px;
}

.members div{
    display: inline-block;
    width:10%;
}

#projetLink ul{
    height:200px;
    overflow:scroll
}

#projetImage {
    overflow:hidden;
    border-left : 1px solid grey;
}

#projetImage div{
    text-align: center;
    display: inline-block;
    height : 300px;
}

#projetImage img{
    width:auto;
    margin:auto;
}

#projetImage .participate{
    position:absolute;
    bottom : 10px;
    left : 25%;
}

#dashboardDiscus .buttons, #appRunComunity .buttons{
    font-size: 12px;
    border-top: 1px solid #bebebe;
}

#dashboardDiscus .buttons div , #appRunComunity .buttons div {
    display: inline-block;
    width:48%;
}

#dashboardDiscus .buttons .infoLike, #appRunComunity .buttons .infoLike{
    text-align: left;
}

#dashboardDiscus .buttons .action, #appRunComunity .buttons .action{
    text-align: right;
}

.commentMessageUser{
    border-radius : 5px;
    margin : 10px;
    padding:5px;
    text-align : left;
    background-color: #eeeeee;
    width: 86%;
    color:black;
    font-size:15px;
    font-weight:400;
}

.commentMessageUser h6{
    color: black;
    font-size: 13px;
	padding-left: 5px;
	margin: 0;
	display: block;
}

.commentMessageUser b{
    font-size:13px;
    font-weight:400;
}

.commentMessageUser div{
    display: inline-block;
    padding-right:10px;
}
.commentMessageUser div{
}

.commentaires {
    cursor:pointer;
}

.moreAction{
    cursor:pointer;
    border-radius:15px;
    text-align:right;
    padding-right:15px;
    
}

.membresTitre2{
     border-bottom: 1px solid #bebebe;
}


.btn-white{
    border-radius : 20px;
    background-color: white;
    color:black;
}

.messageBlock{
    margin: auto;
    margin-top: 0;
    background-color: #fff;
    padding: 20px;
	border-bottom:1px solid #bebebe;
}
.messageBlock div{
    display: inline-block;
} 
.messageBlock textarea{
    width:92%;
    display: inline-block;
}


.messageBlock .avatarmini img{
    vertical-align: baseline !important;
}
.messages{
    margin: auto;
	
}

.message{
    margin-top : 15px;
    background-color: #FFF;
	border-radius: 4px;
}

.message .title div{
   display:inline-block;
   padding:10px;
}
.message .title b{
    font-size: 18px;
}
.message .title i{
    font-size: 13px;
    
}
.message .text{
    padding:10px;
}

.message .buttons
{
    padding:5px;
    margin-bottom : 15px;
}

.otherMessage{
    background-color: white;
    margin-top:10px;
    padding:10px;
}

.otherMessage .title{
    text-align: right;
}


.like
{
    border-top : 1px solid grey;
    
} 
.like div{
    display:inline-block;
    width:56%;
    text-align: center;
    padding:5px;
}

.commentBox {
    display: none;
}
.commentBox div{
 display: inline-block;   
}

.commentBox div input{
    width:100%;
    border-radius : 20px;
}

#tbMessage{
    border-radius : 20px;
}

.btnComment{
    cursor:pointer;
}

.messageBlock .uplloadImage{
    display: inline-block;
    width:100px;
} 
.messageUser .text img{
    display: inline-block;
    width:100px;
} 


.likes div{
    width:65px !important;
}
.projetAction .btn{
    display:inline-block;
    width:170px;
}
#btnParticipate, #btnFollow{
	background: rgb(42, 179, 171);
    color: #fff;
    
}


.projetAction #btnFollow:disabled, #btnParticipate:disabled , #actionHome.fa.fa-home{
    background: #555555;
}

.bgkBtnLikeComment, .projetAction .fa {
    background: #71c55d;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    position: relative;
    right: -13px;
	width: 35px;
    text-align: center;
}

.likes img{
    width: 25px !important;
    height: 25px;
	border: 1px solid #ffffff;
	box-shadow: 0px 0px 3px rgb(0 0 0 / 39%);
}

.lstComment section div
{
    display:inline-block;
}

.actionComment{
    display:block;
    margin-left: 70px;
    width:90%;
}
.actionComment b, .nbComment{
    cursor : pointer;
    font-weight:normal;
}

.actionComment .commentCommentBox{
    display: block;
}

.actionComment .commentCommentBox img{
    width:25px !important;
    height:25px; 
}

.lstComment .lstComment{
    margin-left: 50px;
} 

.lstComment .lstComment section div
{
    display:inline-block;
    width: 490px;
}

.lstComment .lstComment .actionComment{
    display:none;
}

.lstComment .lstComment img{
    width:25px !important;
    height:25px !important;
}

.projetTitle{
    height:250px;
    background-size: cover;
    background-position: center;
    margin-bottom:25px;
}

.projetAction{
    width:100%;
    background-color: white;
    position: absolute;
    bottom: 0px;
    left:0px;
    padding-top:10px
}

#userProjetWidget{
    background-color: white;
}

#lstMembre
{
    background-color: white;
    margin-top: 15px;
}

#userProjetWidget .tabState li{
    display: inline-block;
    cursor:pointer;
}

#moreActionProjet, #actionProjetMenu  li {
 cursor:pointer;   
}

.linkProjet {
    cursor:pointer;
}
.linkProjet div , #lstMembre div
{
    display:inline-block;
    width : 50px;
}

.stateProjet.active{
    background-color: cyan;
    padding: 5px;
	font-variant-caps: all-small-caps;
}

.projetImages img{
    display: inline-block;
    height:100px;
    margin:10px;
}

.tchatTitle{
     border-bottom:1px solid grey;
}

.tchatTitle div{
    display: inline-block;
}

.messageContent{
    height:345px; 
    overflow :auto;
}

.messageContent .userMessage{
    left:80px;
    font-size:14px;
}

.messageContent .userMessage .message , .messageContent .otherUserMessage .message{
    font-size:14px;
}

.followers div
{
    width:15px !important;
}
.followers .avatarmini{
    display: inline-block;
    width:35px;
    
}

.leftColumn .navigation{
    margin-bottom: 5px;
}
.leftColumn .navigation .linkAll{
    padding-bottom:0px;
}

.leftColumn .navigation .btn-blue{
    width:100%;
}
#userProjetWidget
{
    padding:5px;
}

#userProjetWidget h1{
    color: black;
    font-size: 18px;
    font-weight: bold;
    padding-left: 10px;
}

#userProjetWidget .tabState{
    width: 100%;
    text-align:center;
    margin-bottom : 0px;
}
#userProjetWidget #allProjet{
    border-top:1px solid #d3d3d3;
}
.stateProjet.active{
    border-radius: 4px;
    background-color: skyblue;
	font-size: 18px;
	text-transform: uppercase;
	margin-right: 20px;
}

.stateProjet{
	text-transform: uppercase;
	font-size: 13px;
	margin-right: 20px;
}
	


.titleProjet{
    width: 95%;
    font-size:20px;
    border-radius:8px;
    text-align:left;
    padding-left:5px;
    padding-top:10px;
    padding-bottom:10px;
    margin-bottom: 1px;
    margin-top: -10px;
    
}

#lstProjet h3{
    color:black;
    font-size:14px;
    margin-top:10px;
}

.linkProjet{
    color:black;
        font-weight: bold;
}

.projetAction h1{
    color:black;
}

.projet h3{
    color: black;
    font-size: 15px;
	font-weight: bold;
}
.projet .orange{
    color:orange;
}

.projet p{
    margin-top:10px;
}

#lstMembre{
padding : 10px;    
}

#lstMembre h3{
    color:black;
    font-size: 15px;
}


.message .projet {
    box-shadow :none !important;
    color: rgb(42, 179, 171);
    font-size:16px;
} 

.commentMessageUser p, 
.actionComment {
    font-size: 12px;
	padding-left: 5px;
}

#wallProjet h1 {
    color:black;
}

.AboutProjet h2{
    color: white;
	font-size: 16px;
    font-weight: bold;
}

.AboutProjet{
    background:  linear-gradient(
235deg
, #2ab3ab, #2ab3ab);;
    padding: 10px;   
    color: white;
}

.AboutProjet p {
		font-size: 14px;
	}

#lstMembre .fa-comment{
    background: rgb(42, 179, 171);
    color: #fff;
    padding: 5px;
    border-radius: 20px;
    font-size: 20px;
    padding-left:10px;
    float:right;
}

#lstMembre b{
    font-size:15px;
    display: inline-block;
}

#actionProjetMenu, #actionMenu, #actionNotify{
    border-radius: 8px;
    border-radius: 4px;
    box-shadow: 2px 2px 3px 2px #cecece;
    border:none !important;
    z-index:999;
}

.messageBlock h2{
    color:black;
}

.followers{
    /*margin-left:10px;*/
}

.followers img{
    width:25px !important;
    height:25px !important;
}
.projetImages h3, .projetDocument h3{
    color:black;
    
}        

.projetAction .fa{
font-size: 16px !important;
width :25px !important;
}
    
#lstProjet{
height:450px;
overflow:auto;
}

#wallProjet .messages .message .title b, .homeReseau .messages .message .title b{
    display:block;
    margin-bottom: 6px;
}

.imagesButton{
    padding-top: 10px;
    border-top : 1px solid #bebebe;
    text-align: center;
}

.imagesButton div{
    display:inline;
}

.imagesButton .fa{
    top : 10px;
    font-size:20px;
    color:mediumpurple;
    cursor:pointer;
}

.fa-thumbs-o-up{
    cursor:pointer;
}

.messageUser .text a{
   color: mediumpurple;
}

.infoLike .likes .avatarmini-img{
width:8px !important;
}