{{form->Open()}}
{{form->Error()}}
{{form->Success()}}

{{form->Render(Id)}}


    <div>
        <label>{{GetCode(Forum.Title)}}</label> 
        {{form->Render(Title)}}
    </div>
    
    <div>
        <label>{{GetCode(Forum.Message)}}</label> 
        {{form->Render(Message)}}
    </div>

    <div class='center marginTop' >   
        {{form->Render(btnSaveMessage)}}
    </div>  

{{form->Close()}}

<div>
    <h2>{{GetCode(Forum.Reponses)}}</h2>
    {{gdReponse}}
</div>