#memberDashBoard {
    padding:10px;
}

#memberDashBoard .app{

border : 2px solid #f6f6f6;
border-radius: 8px;
text-align: center;
margin:2px;
}


#memberDashBoard .app h3{
padding-top:5px;
margin-top:0px;
}

#memberDashBoard .app:hover{
    background-color: #grey;;
}

.subMembreMenu{

    position: absolute;
    top: 10px;
    right: 10px;
}

.subMembreMenu div{
    display: inline-block;
    float: left;
} 

#lkProfil img, #lkProfil a {
   display: block;;
}

#lkProfil a{
    font-size:12px;
}

