 <div class='block'> 
    <h2 class='borderBottom'>{{Category->Name->Value}}</h2>
        <ul>
            {{foreach Mooc}}
                <li>
                    <a href='{{GetPath(/Mooc/Mooc/{{element->Code->Value}})}}' target='_blank' >
                     {{element->Name->Value}}
                    </a>
                </li>
            {{/foreach Mooc}}
         </ul>
</div>