#appRunNotify #dvNotify { text-align:left;}
#appRunNotify #dvNotify .notify {border-bottom: 1px solid grey;}
#appRunNotify #dvNotify .notify div {display:inline-block; width :180px}
#appRunNotify #dvNotify .date {color : blue; font-size:0.9em}
#appRunNotify #dvNotify .user, #appRunNotify #dvNotify .app {font-weight: bold; font-style: italic ;cursor:pointer} 


.notifyMenu{
    cursor:pointer;
}


.notify {
    padding:5px;
    margin-top: 5px;
    background: #fff;
    box-shadow: 0 0 0 0 rgb(0 0 0 / 20%), 0 0 4px 0 rgb(0 0 0 / 19%);
    display: inline-block;
    position: relative;
    width: 100%;
}

.notify h1{
   font-size: 14px;
   border-bottom: 2px solid #71c55d;
}

.notify h2{
   font-size: 12px;
}

.notify b{
    font-weight:bold !important;
}