.header ul, .footer ul{
    list-style: none;
}

.header ul li{
    display: inline-block;
    margin-left:5px;
}
  
.header ul li a, .footer ul li a{
    text-decoration:unset;
}

#dialog{
    position: fixed;
    top :15%;
    background-color: white;;
    left:15%;
    overflow:auto;
    z-index: 10000;
    min-width: 60%;
    min-height:25%;
    transition-property: opacity;
    transition-duration: 1s;
    border-radius: 20px;
   box-shadow: 5px 5px 15px 5px grey;
   border:1px solid grey;
  }
  
  #rightDialog{
    position: fixed;
    top:0px; 
    right:0px;
    width:400px !important;
    background-color: white; 
    z-index:9999;
    height:calc(100%);
    overflow :auto;
    border-left:1px solid grey;
  }

  #leftDialog{
    position: fixed;
    top:0px; 
    left:0px;
    width:400px !important;
    background-color: white; 
    z-index:9999;   
    height:calc(100%);
    border-right:1px solid grey;
    overflow :auto;
  }
  
   #fullDialog{
    position: fixed;
    top:0px; 
    left:0px;
    width:100% ;
    background-color: white; 
    z-index:9999;   
    height:calc(100%);
    border-right:1px solid grey;
    overflow : auto;
  }
  
#DialogTitle{
    color: white;
    padding :10px;
    top:0px;
    font-size: 15px;
    text-align: center;
    cursor: move;
  }
  
  #dialog #DialogContent{
    padding :15px;
    max-height: 800px;
    overflow:auto;
    filter: alpha(opacity='70');
  }

  #DialogRighContent .container{
      width:100% !important;
  }
  
  .dialogContent, #DialogTitle{
   font-family: "Montserrat",sans-serif;    
  }
  
  .dialogContent .link{
      font-size:14px;
  }
  #divResult {
    z-index: 10040;
    position: absolute;
    height: 200px;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 6px 6px 6px 6px;
    overflow: auto;
    background: none repeat scroll 0 0 white;
}

#divResult ul {
    text-align: left;
}

.txtEditor{
    border:1px solid grey;
    width:100%;
    min-height: 150px;
}

.txtEditor .toolBar{
    border-bottom:1px solid grey;
    width:100%;
    min-height : 35px;
    padding:1px;
}

.txtEditor .toolBar div {
    display: inline-block;
    border : 1px solid #bebebe;
    border-radius: 5px;
    cursor: pointer;
    width :auto;
    padding:5px;
    text-align: center;
}

.txtEditor .inputArea{
    min-height:100px;
}

.txtEditor ul {
    padding:revert;
}

.txtEditor ul li{
    list-style: unset;
}

.txtEditor table tr td{
  border :1px solid grey;
  height:30px;
  width: 30px;
}

.mainContent {
    min-height: 69vh;
}

.width100{
    width:100%;
}