{{form->Open()}}
{{form->Error()}}
{{form->Success()}}
{{form->Render(Id)}}
    <div>
        <label>{{GetCode(EeApp.App)}}</label> 
        {{form->Render(AppId)}}
    </div>

    <div class='center marginTop' >   
        {{form->Render(btnAdd)}}
    </div>  

{{form->Close()}}
