{{form->Open()}}
{{form->Error()}}
{{form->Success()}}

{{form->Render(CampagneId)}}

    <div>
        <label>{{GetCode(NewsLetter.ListEmail)}}</label> 
        {{form->Render(ListId)}}
    </div>

    <div class='center marginTop' >   
        {{form->Render(btnSend)}}
    </div>  

{{form->Close()}}