<div class='row-fluid span12'>
    <div class='span11' id='Tools'>
        <img src="../Apps/EeDownLoader/Images/logo.png" />
        !btnNewRessource
        !btnMyRessource
    </div>
    <div class='span11 content-panel' id='dvDesktop'>
       <h4 class='blueOne'>!titleHome</h4>
       <p>!messageHome</p>
    </div>
</div>
