<div class='row-fluid span12'>
    <div class='span11' id='Tools'>
        {{btnNewRessource}}
    </div>
    <div class='span11 content-panel' id='dvDesktop'>
       {{tabRessource}}
    </div>
</div>
