<div>
    <div class='col-md-12'>
    {{GetCode(Market.MustBeConnected)}}
    </div>

    <div class='col-md-6'>
        <h2>{{GetCode(Base.Signup)}}</h2>
        <a target='_blank' href='{{GetPath(/Login)}}'>
            {{GetCode(Base.Login)}}
        </a>
    </div>
    
    <div class='col-md-6'>
        <h2>{{GetCode(Base.Register)}}</h2>
        <a target='_blank' href='{{GetPath(/Singup)}}'>
        
          {{GetCode(Base.Singup)}}
        </a>
    </div>
</div>
