{{form->Open()}}
{{form->Error()}}
{{form->Success()}}

{{form->Render(Id)}}
    <div>
        <label>{{GetCode(Blog.ArticleContent)}}</label> 
        <div>
        {{form->Render(Content)}}
        </div>
    </div>
    
    <div class='center marginTop' >   
        {{form->Render(btnUpdateContentArticle)}}
    </div>  

{{form->Close()}}