.folder{
    cursor:pointer;
}
.folder .fa{
    font-size:40px;
}

.folder .button {
    display:none;
    margin:0px;
    padding:0px;
}
.folder:hover >.button{
    display:block;
}

.folder:hover > h5{
    display:none;
}
.folder .button .fa{
    font-size:12px;
}