
#appRunEeApp .App, #appRunEeApp.file, #appRunEeApp .headApp {border-top : 1px solid grey; text-align: left; }
#appRunEeApp .App span , #appRunEeApp.file span, #appRunEeApp .headApp  span {display:inline-block ;margin : 5px; }
#appRunEeApp .App .name #appRunEeApp.file name{cursor:pointer}

#appRunEeApp .appStore{
    border :1px solid grey;
    border-radius :8px;
    padding :5px;
    margin:1px;
    height:450px;
    margin-bottom:5px;
}

#appRunEeApp .appStore button{
    display: block;
    position: absolute;
    top: 400px;
    width: 80%;
    left :10%;
}

#appRunEeApp  #Tools{text-align:left; border-bottom: 1px solid grey; margin: 5px; padding:5px;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=134, Strength=5);}
