<div class='block' style='height:450px'> 

{{foreach Messages}}

    {{element->ImageUser()}}
    <p style='font-size:8px'>
        {{element->DateCreated->Value}}
    </p>

    <p>{{element->Message->Value}}</p>

    {{/foreach Messages}}


</div>
