@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/*
- Template: Webemyos
- Develop By: Anthony Loison
- Developer URI: https://www.themesgrafik.com
- Version: 1.0

- Table of contents

	01. Variables (Scss)
	02. Prefix
	03. Header
	04. Footer
	05. Expertise
	06. Services
	07. Testimonial
	08. Case Studies
	09. Clients
	10. Revolution Slider
	11. Banners
	12. Revenue Chart
	13. Elements
	14. About
	15. Contact
	16. Sidebar
	17. Posts
	18. Case Study 2
	19. Checkout
	20. Cart
	21. Portfolio
	22. Shop

- Template styled by SCSS (SASS). It is highly recomended to change on skyle via SCSS to get better output.

*/
/*--------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------*/
/*Prefix Styles*/
.m0 {
  margin: 0;
}

.p0 {
  padding: 0;
}

body {
  height: 100%;
}
body p {
  line-height: 24px;
}
body * {
  font-family: "Roboto", sans-serif;
}
body section.row, body header.row, body footer.row {
  margin: 0;
  position: relative;
}

/*Ancore*/
a, .btn, button {
  outline: none;
  -webkit-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}
a:before, a:after, .btn:before, .btn:after, button:before, button:after {
  -webkit-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}
a:focus, a:hover, .btn:focus, .btn:hover, button:focus, button:hover {
  outline: none;
  text-decoration: none;
  -webkit-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}

/*Buttons*/
.btn {
  padding: 0 36px;
  border: 1px solid;
  border-radius: 0;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 16px;
  text-shadow: none;
  -webkit-box-shadow: 0.087px 0.996px 5px 0px rgba(0, 0, 0, 0.22);
  box-shadow: 0.087px 0.996px 5px 0px rgba(0, 0, 0, 0.22);
  -webkit-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}
.btn:hover, .btn:focus {
  -webkit-box-shadow: 0.087px 0.996px 5px 0px rgba(0, 0, 0, 0.8);
  box-shadow: 0.087px 0.996px 5px 0px rgba(0, 0, 0, 0.8);
}

.btn-primary {
  padding: 0 36px;
  line-height: 48px;
  font-family: 'Courier New', Courier, monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.btn-primary.btn-sm {
  padding: 0 32px;
  line-height: 44px;
}

.btn-default {
  padding: 0 36px;
  line-height: 48px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-default:hover, .btn-default:focus {
  -webkit-box-shadow: 0.087px 0.996px 5px 0px rgba(0, 0, 0, 0.8);
  box-shadow: 0.087px 0.996px 5px 0px rgba(0, 0, 0, 0.8);
}

.btn-bg {
  padding: 0 45px;
  line-height: 65px;
  font-size: 24px;
}

.btn-sm {
  padding: 0 25px;
  line-height: 34px;
  font-size: 15px;
  font-weight: 400;
}

.btn-round {
  border-radius: 50px;
}

.btn-outline {
  padding: 0 36px;
  line-height: 44px;
  border: 1px solid;
  background: none;
}

/*Section Title*/
.sectionTitle {
  margin-bottom: 30px;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
}
.sectionTitle:after {
  content: '';
  display: block;
  width: 47px;
  height: 2px;
  margin: 25px auto 0;
}
.sectionTitle .this-title {
  margin: 0 0 5px;
  text-transform: capitalize;
  font-weight: 300;
  font-size: 36px;
}
@media (max-width: 767px) {
  .sectionTitle .this-title {
    font-size: 30px;
  }
}
.sectionTitle p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
}
.sectionTitle.text-left {
  margin-left: 0;
  margin-right: 0;
  text-align: left;
}
.sectionTitle.text-left:after {
  margin-left: 0;
}

/*--------------------------------------------------------------------------------------------*/
.top-bar {
  border-bottom: 1px solid;
}
.top-bar .welcome-message {
  float: left;
  letter-spacing: 0.25px;
  line-height: 40px;
}
@media (max-width: 991px) {
  .top-bar .welcome-message {
    width: 100%;
    text-align: center;
  }
}
.top-bar .top-nav {
  float: right;
}
@media (max-width: 991px) {
  .top-bar .top-nav {
    float: none;
    display: table;
    margin: 0 auto;
    border-top: 1px solid;
  }
}
.top-bar .top-nav li {
  float: left;
  border-left: 1px solid;
}
.top-bar .top-nav .tel {
  border-left: 0;
}
.top-bar .top-nav a {
  padding: 0 20px;
  line-height: 40px;
  letter-spacing: 0.25px;
  font-size: 15px;
}
.top-bar .top-nav a i {
  font-size: 15px;
}
@media (max-width: 767px) {
  .top-bar .top-nav a {
    width: 47px;
    padding: 0;
    text-align: center;
  }
  .top-bar .top-nav a i {
    width: 47px;
  }
}
@media (max-width: 767px) {
  .top-bar .top-nav .email, .top-bar .top-nav .tel {
    white-space: nowrap;
    overflow: hidden;
  }
}
.top-bar .top-nav .email i, .top-bar .top-nav .tel i {
  margin-right: 10px;
}

/*Navigation*/
.navbar-default, .header {
  border: 0;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.12);
  margin-bottom: 0;
}
.navbar-default .navbar-heade {
  margin: 0;
}
.navbar-default .navbar-header .navbar-toggle {
  margin: 14px 0 0;
  border-radius: 0;
}
.navbar-default .navbar-header .navbar-brand {
  margin: 36px 0 35px;
  padding: 0;
  height: 32px;
}
.navbar-default .navbar-header .navbar-brand img {
  max-height: 32px;
}
.navbar-default .navbar-collapse {
  margin: 0;
}
.navbar-default .navbar-collapse .btn-outline {
  margin-top: 29px;
  margin-left: 20px;
}
.navbar-default .navbar-collapse .nav {
  margin: 0;
}
.navbar-default .navbar-collapse .nav li a {
  text-shadow: none;
  padding: 0 20px;
  line-height: 103px;
  font-size: 16px;
  text-transform: capitalize;
}
@media (max-width: 1199px) {
  .navbar-default .navbar-collapse .nav li a {
    padding: 0 12px;
  }
}
.navbar-default .navbar-collapse .nav li .dropdown-menu {
  border-radius: 0;
  left: 0;
  right: auto;
  min-width: 200px;
}
@media (min-width: 1025px) {
  .navbar-default .navbar-collapse .nav li .dropdown-menu {
    display: block;
    z-index: -10000;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-perspective-origin: top center;
    perspective-origin: top center;
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
  }
}
.navbar-default .navbar-collapse .nav li .dropdown-menu li + li {
  border-top: 1px solid;
}
.navbar-default .navbar-collapse .nav li .dropdown-menu li a {
  line-height: 40px;
}
@media (max-width: 991px) {
  .navbar-default .navbar-collapse .nav li.dropdown > a:after {
    content: "\f107";
    font-family: "FontAwesome";
    float: right;
  }
}
.navbar-default .navbar-collapse .nav li.active > a {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none;
}
.navbar-default .navbar-collapse .nav li:hover a, .navbar-default .navbar-collapse .nav li.open a {
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
@media (min-width: 1025px) {
  .navbar-default .navbar-collapse .nav li:hover .dropdown-menu, .navbar-default .navbar-collapse .nav li.open .dropdown-menu {
    z-index: 10000;
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform: perspective(150) rotateX(0);
  }
}
.navbar-default.affix {
  width: 100%;
  top: 0;
}
.navbar-default.affix .navbar-header .navbar-brand {
  margin: 15px 0;
}
.navbar-default.affix .navbar-collapse .btn-outline {
  margin-top: 8px;
}
.navbar-default.affix .navbar-collapse .nav li a {
  line-height: 62px;
}
.navbar-default.affix + .row {
  margin-top: 62px;
}
@media (max-width: 991px) {
  .navbar-default .navbar-header .navbar-brand, .navbar-default.affix .navbar-header .navbar-brand {
    margin: 15px 0;
  }
  .navbar-default .navbar-collapse, .navbar-default.affix .navbar-collapse {
    max-height: 280px;
  }
  .navbar-default .navbar-collapse .btn-outline, .navbar-default.affix .navbar-collapse .btn-outline {
    margin-top: 8px;
  }
  .navbar-default .navbar-collapse .nav li a, .navbar-default.affix .navbar-collapse .nav li a {
    line-height: 50px;
  }
}

/*--------------------------------------------------------------------------------------------*/
.site-footer {
  padding-bottom: 0px;
  position: absolute;
  bottom: 0;
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 85px;
  }
}
.site-footer .half-side {
  padding-top: 85px;
  padding-bottom: 58px;
}
.site-footer .half-side:last-child {
  border-right: 1px solid;
}
.site-footer .half-side:last-child:before {
  content: '';
  width: 13px;
  height: 13px;
  border-radius: 100%;
  display: block;
  position: absolute;
  bottom: 0;
  right: -7.5px;
  z-index: 2;
}
@media (min-width: 992px) {
  .site-footer .half-side {
    width: -webkit-calc(58.33333333% + 7.5px);
    width: calc(58.33333333% + 7.5px);
  }
}
@media (max-width: 991px) {
  .site-footer .half-side {
    border-right: 1px solid;
  }
}
@media (min-width: 992px) {
  .site-footer .half-side + .half-side {
    width: -webkit-calc(41.66666667% - 7.5px);
    width: calc(41.66666667% - 7.5px);
  }
}
@media (max-width: 991px) {
  .site-footer .half-side + .half-side {
    padding-top: 45px;
    border-right: 1px solid;
  }
}
.site-footer .left-box {
  padding-right: 75px;
  margin-left: 0;
}
@media (max-width: 991px) {
  .site-footer .left-box {
    padding-right: 15px;
  }
}
.site-footer .right-box {
  padding-left: 75px;
  margin-right: 0;
}
@media (max-width: 991px) {
  .site-footer .right-box {
    padding-left: 0;
    padding-right: 15px;
    margin-left: 0;
    margin-right: -15px;
  }
}

.footer-about p {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}

.copyright-row {
  padding-top: 30px;
  font-weight: 300;
  line-height: 24px;
  border-top: 1px solid;
}

.footer-title {
  font-size: 23px;
  font-weight: 300;
  letter-spacing: 0.25px;
  margin-top: 0;
  margin-bottom: 35px;
  text-transform: capitalize;
}
.footer-title:after {
  content: '';
  width: 21px;
  height: 2px;
  display: block;
  margin-top: 15px;
}

.footer-contact .nav li {
  float: left;
}
.footer-contact .nav li a {
  padding: 0 10px;
  font-size: 15px;
}
@media (max-width: 479px) {
  .footer-contact .nav li a {
    padding: 0 8px;
  }
}
.footer-contact .nav li a i {
  font-size: 15px;
}
.footer-contact .nav li:first-child {
  margin-right: 32px;
}
@media (max-width: 479px) {
  .footer-contact .nav li:first-child {
    margin-right: 14px;
  }
}
.footer-contact .nav li:nth-child(2) {
  margin-right: 22px;
}
@media (max-width: 479px) {
  .footer-contact .nav li:nth-child(2) {
    margin-right: 6px;
  }
}
.footer-contact .nav .email a, .footer-contact .nav .tel a {
  padding: 0;
}
.footer-contact .nav .email a i, .footer-contact .nav .tel a i {
  margin-right: 12px;
}

.footer-widget + .footer-widget {
  margin-top: 65px;
}

.newsletter-form .form-control {
  border-radius: 0;
  height: 48px;
  float: left;
  margin-right: 1px;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: -webkit-calc((100% - 126px) / 2);
  width: calc((100% - 126px) / 2);
  padding: 0 20px;
  line-height: 48px;
  font-size: 16px;
  font-weight: 300;
}
@media (max-width: 479px) {
  .newsletter-form .form-control {
    float: none;
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}
.newsletter-form .form-control::-moz-placeholder {
  opacity: 1;
}
.newsletter-form .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.newsletter-form .btn {
  border: none;
}

/*--------------------------------------------------------------------------------------------*/
.our-experties {
  padding: 125px 0 130px;
}

.expertise-intro {
  max-width: 810px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 27px;
  font-weight: 300;
}
.expertise-intro:after {
  content: '';
  display: block;
  margin: 30px auto 18px;
  border-radius: 5px;
  height: 62px;
  width: 6px;
}

.expertise-circle {
  max-width: 790px;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 767px) {
  .expertise-circle {
    max-width: 360px;
  }
}
@media (max-width: 767px) {
  .expertise-circle .img-circle {
    max-width: 100%;
  }
}
.expertise-circle .block {
  position: absolute;
  width: 200px;
  font-style: italic;
  font-size: 18px;
}
@media (max-width: 991px) {
  .expertise-circle .block {
    width: 165px;
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .expertise-circle .block {
    position: relative;
    width: 100%;
    line-height: 24px;
  }
}
.expertise-circle .block:before {
  content: '';
  width: 31px;
  height: 31px;
  border: 6px solid;
  display: block;
  border-radius: 100%;
  position: absolute;
  opacity: 0.6;
  top: 6px;
}
@media (max-width: 767px) {
  .expertise-circle .block:before {
    top: 3px;
    width: 18px;
    height: 18px;
    border-width: 3px;
  }
}
.expertise-circle .block.pos-left {
  text-align: right;
  left: 0;
}
@media (max-width: 767px) {
  .expertise-circle .block.pos-left {
    padding-right: 30px;
    margin-bottom: 15px;
  }
}
.expertise-circle .block.pos-left:before {
  right: -49px;
}
@media (max-width: 767px) {
  .expertise-circle .block.pos-left:before {
    right: 0;
  }
}
.expertise-circle .block.pos-right {
  text-align: left;
  right: 0;
}
@media (max-width: 767px) {
  .expertise-circle .block.pos-right {
    padding-left: 30px;
    margin-top: 15px;
  }
}
.expertise-circle .block.pos-right:before {
  left: -49px;
}
@media (max-width: 767px) {
  .expertise-circle .block.pos-right:before {
    left: 0;
  }
}
.expertise-circle .block.top-block {
  top: 78px;
}
@media (max-width: 767px) {
  .expertise-circle .block.top-block {
    top: auto;
  }
}
.expertise-circle .block.bottom-block {
  bottom: 72px;
}
@media (max-width: 767px) {
  .expertise-circle .block.bottom-block {
    bottom: auto;
  }
}

/*--------------------------------------------------------------------------------------------*/
.our-services {
  padding: 115px 0 130px;
  background: #f1fafe;
}
.our-services + .more-services:before {
  content: '';
  display: block;
  border-radius: 5px;
  height: 62px;
  width: 6px;
  position: absolute;
  top: -31px;
  left: -webkit-calc(50% - 3px);
  left: calc(50% - 3px);
}
.our-services + .more-services.style2:before {
  display: none;
}

.service-blocks {
  padding-top: 15px;
}

.service-block {
  padding: 15px;
  text-align: center;
}
.service-block .inner {
  border-top: 98px solid;
  margin: 0;
  padding: 0 35px 50px;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
  -webkit-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}
@media (max-width: 991px) {
  .service-block .inner {
    padding: 0 15px 25px;
  }
}
@media (max-width: 991px) {
  .service-block .inner {
    border-top-width: 70px;
  }
}
.service-block .inner:hover, .service-block .inner:focus {
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.22);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.22);
}
.service-block .icon-holder {
  width: 98px;
  height: 98px;
  line-height: 98px;
  text-align: center;
  border-radius: 100%;
  margin: -49px auto 35px;
  -webkit-box-shadow: 0.087px 0.996px 5px 0px rgba(0, 0, 0, 0.22);
  box-shadow: 0.087px 0.996px 5px 0px rgba(0, 0, 0, 0.22);
}
@media (max-width: 991px) {
  .service-block .icon-holder {
    margin-bottom: 20px;
  }
}
.service-block .icon-holder img {
  display: inline-block;
}
.service-block .this-title {
  font-weight: 400;
  margin: 0 0 20px;
  text-transform: capitalize;
}
@media (max-width: 991px) {
  .service-block .this-title {
    font-size: 22px;
  }
}
.service-block .this-summary {
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 35px;
}
@media (max-width: 991px) {
  .service-block .this-summary {
    font-size: 15px;
    margin-bottom: 20px;
  }
}
.service-block .more {
  font-size: 16px;
  line-height: 1;
  text-transform: capitalize;
  font-weight: 400;
}
.service-block.style2 .inner {
  border-top: none;
  margin-top: 56px;
}

/*More Services*/
.more-services {
  padding: 115px 0 175px;
}
.more-services.style2 {
  padding-bottom: 100px;
}

.more-service-blocks .btn-primary {
  margin-top: 30px;
}

.service-block2 {
  padding: 30px 15px 50px;
  text-align: center;
}
@media (max-width: 767px) {
  .service-block2 {
    padding-bottom: 30px;
  }
}
.service-block2 .icon-holder {
  width: 72px;
  height: 72px;
  line-height: 72px;
  text-align: center;
  border-radius: 100%;
  margin: 0 auto;
}
.service-block2 .icon-holder img {
  display: inline-block;
}
.service-block2 .this-title {
  font-weight: 400;
  margin: 32px 0 30px;
  text-transform: capitalize;
}
.service-block2 .this-summary {
  font-size: 16px;
  line-height: 27px;
  padding: 0 14px;
  font-weight: 300;
}
@media (max-width: 1199px) {
  .service-block2 .this-summary {
    padding: 0;
  }
}

/*Featured Services*/
.featured-service-blocks.row {
  margin-top: -284px;
  z-index: 20;
}
@media (max-width: 1199px) {
  .featured-service-blocks.row {
    margin-top: -223px;
  }
}
.featured-service-blocks.row.style2 {
  margin-top: 0;
  padding: 95px 0 125px;
}

.featured-service-block {
  padding: 45px 50px 60px;
  position: relative;
}
@media (max-width: 1199px) {
  .featured-service-block {
    padding: 25px 20px 35px;
  }
}
@media (max-width: 991px) {
  .featured-service-block {
    padding: 25px;
  }
}
.featured-service-block + .featured-service-block {
  border-left: 1px solid;
}
.featured-service-block .icon-holder {
  line-height: 35px;
  margin-bottom: 18px;
}
@media (max-width: 1199px) {
  .featured-service-block .icon-holder {
    margin-bottom: 10px;
  }
}
.featured-service-block .this-title {
  margin: 0 0 18px;
}
@media (max-width: 1199px) {
  .featured-service-block .this-title {
    margin-bottom: 10px;
  }
}
.featured-service-block .this-title a {
  font-size: 22px;
  line-height: 30px;
  font-weight: 400;
}
@media (max-width: 991px) {
  .featured-service-block .this-title a {
    line-height: 24px;
    font-size: 18px;
  }
}
.featured-service-block .this-summary {
  margin-bottom: 0;
}
@media (max-width: 991px) {
  .featured-service-block .this-summary {
    line-height: 23px;
  }
}
.featured-service-block .this-expand {
  width: 49px;
  line-height: 49px;
  border-radius: 100%;
  position: absolute;
  bottom: -24.5px;
  left: -webkit-calc(50% - 24.5px);
  left: calc(50% - 24.5px);
  text-align: center;
  display: block;
  z-index: 1;
  -webkit-box-shadow: 0.087px 0.996px 5px 0px rgba(0, 0, 0, 0.22);
  box-shadow: 0.087px 0.996px 5px 0px rgba(0, 0, 0, 0.22);
}
@media (max-width: 991px) {
  .featured-service-block .this-expand {
    display: none;
  }
}
.featured-service-block .this-expand:hover, .featured-service-block .this-expand:focus {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.featured-service-block .more {
  font-size: 16px;
  text-transform: capitalize;
  margin-top: 42px;
  display: inline-block;
}
@media (max-width: 1199px) {
  .featured-service-block .more {
    margin-top: 20px;
  }
}
.featured-service-block.style3 {
  padding: 0 15px;
  background: none;
}
@media (max-width: 767px) {
  .featured-service-block.style3 {
    padding: 15px;
  }
}
.featured-service-block.style3 + .featured-service-block {
  border: none;
}
.featured-service-block.style3 .this-title {
  padding-right: 80px;
}
@media (max-width: 1199px) {
  .featured-service-block.style3 .this-title {
    padding-right: 0;
    margin-bottom: 20px;
  }
}
.featured-service-block.style3 .this-summary {
  line-height: 27px;
}

/*Product Based Services*/
.product-based-services {
  padding-top: 100px;
}
@media (max-width: 1199px) {
  .product-based-services {
    padding-bottom: 50px;
  }
}

.product-based-service {
  padding-top: 30px;
}
.product-based-service .img-holder {
  overflow-y: hidden;
  max-height: 390px;
}
@media (max-width: 767px) {
  .product-based-service .img-holder {
    max-height: none;
    margin: 0 auto 40px;
    max-width: 400px;
  }
}
.product-based-service .text-holder p {
  font-size: 16px;
  line-height: 27px;
  font-weight: 300;
  margin-bottom: 0;
}
.product-based-service .text-holder .btn {
  margin-top: 40px;
}

/*Free Analysis Form*/
.free-analysis-form {
  padding: 38px 33px 58px;
  margin: 0;
}
@media (max-width: 767px) {
  .free-analysis-form {
    margin-top: 80px;
    padding: 30px;
  }
}
.free-analysis-form .this-title {
  font-size: 21px;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 35px;
  font-weight: 400;
}
.free-analysis-form .input-group {
  border-bottom: 1px solid;
  width: 100%;
  margin-bottom: 25px;
  -webkit-box-shadow: 0px 1px 0px 0px rgba(57, 200, 255, 0.004);
  box-shadow: 0px 1px 0px 0px rgba(57, 200, 255, 0.004);
}
.free-analysis-form .input-group-addon {
  border: none;
  background: none;
  border-radius: 0;
  width: 45px;
  line-height: 40px;
  text-align: left;
  padding: 0 15px 0 5px;
  vertical-align: top;
}
.free-analysis-form .form-control {
  padding: 10px 0;
  height: 44px;
  line-height: 24px;
  background: none;
  border-radius: 0;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-weight: 300;
  font-size: 16px;
}
.free-analysis-form textarea.form-control {
  resize: none;
  height: 90px;
  line-height: 24px;
}
.free-analysis-form.style2 {
  background: none;
  padding: 0;
  margin-top: 55px;
}
.free-analysis-form.style2 .btn {
  margin-top: 5px;
}
.free-analysis-form.style3 {
  padding: 40px 0 25px;
}
.free-analysis-form.style3 textarea.form-control {
  height: 50px;
}

/*Services Features*/
.service-features {
  padding: 90px 0 98px;
}
.service-features .this-buttons {
  padding-top: 25px;
}
.service-features .this-buttons .btn {
  width: 100%;
}
@media (max-width: 991px) {
  .service-features .this-buttons .btn {
    width: auto;
  }
}
.service-features .heading-row .this-texts {
  padding-right: 190px;
}
@media (max-width: 991px) {
  .service-features .heading-row .this-texts {
    padding-right: 15px;
  }
}
.service-features .heading-row .this-title {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 15px;
}
.service-features .heading-row .this-p {
  font-weight: 300;
  font-size: 22px;
  line-height: 36px;
}

.feature-sets-row {
  padding-top: 60px;
}

.feature-sets + .feature-sets {
  border-left: 1px solid;
}
@media (max-width: 767px) {
  .feature-sets + .feature-sets {
    border-left: none;
    border-top: 1px solid;
  }
}

.feature-set {
  padding: 45px 10px 30px;
}
@media (max-width: 1199px) {
  .feature-set {
    padding: 35px 0 25px;
  }
}
@media (max-width: 991px) {
  .feature-set {
    padding: 30px 0 20px;
  }
}
.feature-set + .feature-set {
  border-top: 1px solid;
  margin: 0;
}
.feature-set .media-left {
  padding-right: 35px;
}
@media (max-width: 991px) {
  .feature-set .media-left {
    padding-right: 20px;
  }
}
.feature-set .media-left span {
  display: block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 100%;
  font-size: 22px;
}
@media (max-width: 991px) {
  .feature-set .media-left span {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
  }
}
.feature-set .this-title {
  margin-top: 0;
}
.feature-set p {
  margin: 0;
}

.some-text-this-service {
  padding: 75px 0;
}
.some-text-this-service p {
  font-size: 21px;
  line-height: 40px;
  font-weight: 300;
}
@media (max-width: 991px) {
  .some-text-this-service p {
    font-size: 18px;
    line-height: 30px;
  }
}

.some-points {
  padding: 100px 0 200px;
}
@media (max-width: 991px) {
  .some-points {
    padding-bottom: 150px;
  }
}
.some-points .this-headings {
  text-align: center;
  margin-bottom: 35px;
}
@media (max-width: 991px) {
  .some-points .this-headings {
    margin-bottom: 0;
  }
}
.some-points .this-headings h2 {
  font-weight: 300;
  font-size: 36px;
  margin: 0;
}
.some-points .this-headings p {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 0;
  margin-top: 15px;
}
.some-points .points-row {
  position: relative;
  margin: 0;
}
@media (max-width: 1199px) {
  .some-points .points-row img {
    max-width: 420px;
  }
}
@media (max-width: 991px) {
  .some-points .points-row img {
    max-width: 100%;
  }
}
.some-points .point {
  width: 280px;
  padding-top: 45px;
  position: relative;
}
@media (max-width: 991px) {
  .some-points .point {
    padding-top: 0;
    width: 98%;
  }
}
.some-points .point:after {
  content: '';
  background: no-repeat scroll 0 0;
  width: 129px;
  height: 59px;
  top: 10px;
  position: absolute;
  display: block;
}
@media (max-width: 991px) {
  .some-points .point:after {
    display: none;
  }
}
.some-points .point + .point {
  margin-top: 80px;
}
@media (max-width: 1199px) {
  .some-points .point + .point {
    margin-top: 40px;
  }
}
@media (max-width: 991px) {
  .some-points .point + .point {
    margin-top: 20px;
  }
}
.some-points .point .point-title {
  margin-top: 0;
  font-size: 22px;
  font-weight: 400;
}
.some-points .point p {
  margin: 0;
  font-weight: 300;
}
.some-points .left-points {
  position: absolute;
  top: 65px;
}
@media (max-width: 1199px) {
  .some-points .left-points {
    top: 0;
  }
}
@media (max-width: 991px) {
  .some-points .left-points {
    position: relative;
    width: 50%;
    float: left;
  }
}
.some-points .left-points .point {
  padding-right: 45px;
}
@media (max-width: 991px) {
  .some-points .left-points .point {
    padding-right: 0;
  }
}
.some-points .left-points .point:after {
  background-image: url(../images/top-arrow.png);
  right: 0;
}
.some-points .left-points .point + .point:after {
  background-image: url(../images/bottom-arrow.png);
  right: 0;
}
.some-points .right-points {
  position: absolute;
  top: 65px;
  right: 0;
}
@media (max-width: 1199px) {
  .some-points .right-points {
    top: 0;
  }
}
@media (max-width: 991px) {
  .some-points .right-points {
    position: relative;
    width: 50%;
    float: left;
  }
}
.some-points .right-points .point {
  text-align: right;
  padding-left: 45px;
}
@media (max-width: 991px) {
  .some-points .right-points .point {
    padding-left: 0;
    float: right;
  }
}
.some-points .right-points .point:after {
  background-image: url(../images/top-arrow2.png);
  left: 0;
}
.some-points .right-points .point + .point:after {
  background-image: url(../images/bottom-arrow2.png);
  left: 0;
}

.service-quote {
  text-align: center;
  padding: 136px 0 120px;
}
@media (max-width: 479px) {
  .service-quote {
    padding: 100px 0;
  }
}
.service-quote:before {
  content: "\f10e";
  font-family: "FontAwesome";
  width: 156px;
  height: 156px;
  border: 8px solid;
  line-height: 140px;
  font-size: 52px;
  position: absolute;
  top: -78px;
  left: -webkit-calc(50% - 78px);
  left: calc(50% - 78px);
  border-radius: 100%;
}
.service-quote .container .row {
  max-width: 750px;
  margin: 0 auto;
}
.service-quote p {
  font-size: 22px;
  line-height: 40px;
  margin-bottom: 45px;
  font-weight: 300;
  font-style: italic;
}
@media (max-width: 479px) {
  .service-quote p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
  }
}
.service-quote .quote-author {
  font-weight: 700;
  line-height: 1;
}

.free-analysis .container {
  padding-top: 98px;
  padding-bottom: 94px;
  background: url(../images/free-analysis.jpg) no-repeat scroll right bottom;
}
@media (max-width: 767px) {
  .free-analysis .container {
    background-image: none;
  }
}
.free-analysis .this-title {
  font-size: 36px;
  margin: 0 0 15px;
  font-weight: 300;
}
.free-analysis p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}

.service-about {
  padding: 110px 0 130px;
}

.service-features2 .this-headings {
  max-width: 460px;
  font-size: 36px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 15px;
}
.service-features2 .this-heading-p {
  font-weight: 300;
  font-size: 22px;
  line-height: 40px;
  margin-bottom: 45px;
}
.service-features2 .this-feature {
  margin-bottom: 55px;
}
.service-features2 .this-feature .media-left {
  font-size: 40px;
  padding-right: 30px;
}
.service-features2 .this-feature .media-left span {
  width: 35px;
  display: block;
}
.service-features2 .this-feature .this-title {
  font-size: 22px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 12px;
}
.service-features2 .this-feature p {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 0;
}

.service-process {
  overflow: visible;
}
.service-process + .service-process {
  margin-top: 90px;
  position: relative;
}
@media (max-width: 1199px) {
  .service-process + .service-process {
    margin-top: 65px;
  }
}
.service-process + .service-process:before {
  content: '';
  width: 1px;
  height: 140px;
  border-left: 1px dashed;
  display: block;
  position: absolute;
  top: -140px;
  left: 30px;
}
@media (max-width: 991px) {
  .service-process + .service-process:before {
    height: 90px;
    top: -90px;
  }
}
@media (max-width: 767px) {
  .service-process + .service-process:before {
    display: none;
  }
}
.service-process .media-left {
  font-size: 26px;
  font-weight: 500;
  padding-right: 30px;
}
.service-process .media-left span {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: block;
  text-align: center;
  line-height: 60px;
}
.service-process .this-title {
  font-size: 22px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 15px;
}
.service-process p {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 0;
}

.best-pro-tools {
  padding-top: 120px;
}
.best-pro-tools .this-title {
  font-size: 36px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 30px;
}
.best-pro-tools p {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 35px;
}
.best-pro-tools img {
  margin-top: 68px;
  max-width: 100%;
}

.customer-feedback {
  padding: 160px 0 130px;
}
@media (max-width: 479px) {
  .customer-feedback {
    padding: 100px 0;
  }
}
.customer-feedback .this-title {
  font-size: 36px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 60px;
}
.customer-feedback blockquote {
  padding: 0;
  border: none;
}
.customer-feedback blockquote span {
  padding-left: 60px;
  padding-right: 53px;
  display: table-cell;
  width: 1%;
}
@media (max-width: 767px) {
  .customer-feedback blockquote span {
    padding-left: 0;
    padding-right: 30px;
  }
}
@media (max-width: 479px) {
  .customer-feedback blockquote span {
    padding-left: 0;
    padding-right: 20px;
  }
}
.customer-feedback blockquote span i {
  font-size: 36px;
  border-radius: 100%;
  width: 80px;
  line-height: 80px;
  height: 80px;
  text-align: center;
}
@media (max-width: 479px) {
  .customer-feedback blockquote span i {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
  }
}
.customer-feedback blockquote .quote-box {
  display: table-cell;
  vertical-align: top;
}
.customer-feedback blockquote p {
  font-style: italic;
  font-weight: 300;
  font-size: 22px;
  line-height: 36px;
  margin-bottom: 40px;
}
@media (max-width: 479px) {
  .customer-feedback blockquote p {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 20px;
  }
}
.customer-feedback blockquote footer {
  font-weight: 400;
}

.best-pro-tools2 {
  height: 562px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.best-pro-tools2:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../images/best-pro.jpg) no-repeat scroll center center;
  -webkit-background-size: cover;
  background-size: cover;
  opacity: 0.56;
}
.best-pro-tools2 .row {
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
  z-index: 2;
}
.best-pro-tools2 h2 {
  font-size: 36px;
  font-weight: 300;
  margin: 40px 0;
}

/*Service 4*/
.trial-row {
  padding: 50px 0;
}
.trial-row:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../images/trial.jpg) no-repeat scroll center center;
  -webkit-background-size: cover;
  background-size: cover;
  opacity: 0.46;
}
.trial-row .container {
  position: relative;
  z-index: 2;
}
.trial-row .this-title {
  margin-top: 0;
  font-weight: 700;
  font-size: 36px;
}
.trial-row p {
  font-weight: 300;
  font-size: 21px;
  margin: 0;
}
.trial-row .buttons {
  padding-top: 3px;
}
@media (max-width: 767px) {
  .trial-row .buttons {
    padding-top: 40px;
  }
}

.customer-feedback2 {
  padding: 120px 0 175px;
}
.customer-feedback2 .container {
  max-width: 750px;
}
.customer-feedback2 .this-title {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 55px;
}
.customer-feedback2 .this-title i {
  font-size: 22px;
}
.customer-feedback2 p {
  font-style: italic;
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
  margin-bottom: 30px;
}
.customer-feedback2 h4 {
  line-height: 1;
  margin: 0;
  font-weight: 400;
}

.service4-header {
  text-align: center;
  padding: 100px 0 130px;
}
.service4-header .this-title {
  margin-bottom: 20px;
  margin-top: 0;
  font-weight: 300;
  line-height: 48px;
}
.service4-header p {
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
}
.service4-header .btn {
  margin-top: 20px;
}
.service4-header .btn + .btn {
  margin-left: 20px;
}
@media (max-width: 639px) {
  .service4-header .btn + .btn {
    margin-left: 0;
  }
}

.pro-content-marketing {
  padding-top: 75px;
}
@media (max-width: 991px) {
  .pro-content-marketing {
    padding-bottom: 75px;
  }
}
.pro-content-marketing img {
  display: inline-block;
}
.pro-content-marketing .h1 {
  margin-top: 50px;
  margin-bottom: 35px;
  font-weight: 400;
}
@media (max-width: 1199px) {
  .pro-content-marketing .h1 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media (max-width: 991px) {
  .pro-content-marketing .h1 {
    margin-top: 35px;
  }
}
@media (max-width: 767px) {
  .pro-content-marketing .h1 {
    font-size: 30px;
  }
}
.pro-content-marketing p {
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 0;
}
@media (max-width: 1199px) {
  .pro-content-marketing p {
    line-height: 24px;
  }
}
.pro-content-marketing p + p {
  margin-top: 35px;
}
@media (max-width: 1199px) {
  .pro-content-marketing p + p {
    margin-top: 20px;
  }
}

.watch-video {
  padding: 94px 0;
}
.watch-video .this-heading .media-left {
  padding-right: 35px;
}
@media (max-width: 639px) {
  .watch-video .this-heading .media-left {
    padding-right: 15px;
  }
}
.watch-video .this-heading .media-left a {
  width: 92px;
  height: 92px;
  border: 3px solid;
  line-height: 86px;
  text-align: center;
  border-radius: 100%;
  font-size: 32px;
  display: block;
}
@media (max-width: 639px) {
  .watch-video .this-heading .media-left a {
    width: 60px;
    height: 60px;
    line-height: 56px;
    border-width: 2px;
    font-size: 24px;
  }
}
.watch-video .this-heading .h1 {
  margin: 0 0 5px;
  font-weight: 700;
  text-transform: capitalize;
}
@media (max-width: 639px) {
  .watch-video .this-heading .h1 {
    font-size: 28px;
  }
}
.watch-video .this-heading .h2 {
  margin: 0;
  font-weight: 300;
  font-size: 32px;
}
@media (max-width: 639px) {
  .watch-video .this-heading .h2 {
    font-size: 24px;
  }
}
.watch-video p {
  font-weight: 300;
  margin-top: 12px;
  margin-bottom: 0;
}

.seo-features {
  padding: 90px 0;
}
.seo-features .h1 {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 300;
}

.seo-feature {
  padding-top: 35px;
  padding-bottom: 35px;
}
.seo-feature .media-left {
  padding-right: 15px;
}
.seo-feature .media-left span {
  font-size: 30px;
  font-weight: 300;
  display: block;
  line-height: 66px;
  width: 66px;
  text-align: center;
  border-radius: 100%;
}
.seo-feature h3 {
  font-size: 21px;
  line-height: 1;
  margin-top: 5px;
  margin-bottom: 15px;
  font-weight: 400;
}
.seo-feature p {
  margin: 0;
  font-weight: 300;
}

.service-about5 {
  padding: 100px 0 134px;
}
.service-about5 .sectionTitle .this-title {
  letter-spacing: -0.1px;
}
.service-about5 .img-holder {
  padding-top: 100px;
  padding-bottom: 28px;
  text-align: center;
}
@media (max-width: 991px) {
  .service-about5 .img-holder {
    padding-top: 0;
  }
}
.service-about5 .img-holder img {
  max-width: 100%;
}
.service-about5 .this-p {
  font-size: 16px;
  line-height: 27px;
  font-weight: 300;
  margin-bottom: 34px;
}
.service-about5 .this-features li {
  width: 50%;
  float: left;
  padding: 16px 0;
  line-height: 62px;
  font-size: 18px;
  font-weight: 500;
}
@media (max-width: 479px) {
  .service-about5 .this-features li {
    width: 100%;
  }
}
.service-about5 .this-features li .icon-holder {
  display: inline-block;
  margin-right: 15px;
  width: 62px;
  height: 62px;
  line-height: 62px;
  border-radius: 100%;
  text-align: center;
}

.similar-services {
  padding: 80px 0 90px;
}
.similar-services:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.07;
  display: block;
  background: url(../images/similar-services.jpg) no-repeat scroll center center;
}
.similar-services .sectionTitle {
  margin-bottom: 40px;
}

.similar-service {
  padding: 15px;
}
.similar-service .inner {
  padding: 45px 35px 52px;
  margin: 0;
  text-align: center;
}
.similar-service .icon-holder {
  line-height: 123px;
  margin-bottom: 50px;
}
.similar-service .icon-holder img {
  max-width: 100%;
}
.similar-service .this-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 400;
  text-transform: capitalize;
}
.similar-service .this-about {
  font-size: 16px;
  font-weight: 300;
  line-height: 27px;
  margin-bottom: 40px;
}
.similar-service .btn {
  border: 2px solid;
  padding: 0 45px;
  line-height: 40px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*--------------------------------------------------------------------------------------------*/
.testimonials {
  background: #6b38ff;
  padding: 82px 0 74px;
}
.testimonials:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(../images/testbg.png) no-repeat fixed center center;
  opacity: 0.05;
  z-index: 0;
}
.testimonials.style2:before {
  display: none;
}
.testimonials .container {
  position: relative;
  z-index: 2;
}

.testimonial-slides {
  max-width: 830px;
  margin: 40px auto 0;
  text-align: center;
}
@media (max-width: 767px) {
  .testimonial-slides {
    padding: 0 15px;
  }
}
.testimonial-slides .client-img {
  text-align: center;
  border-radius: 100%;
  width: 88px;
  height: 88px;
  margin: 0 auto 35px;
  -webkit-box-shadow: 0.087px 0.996px 5px 0px rgba(0, 0, 0, 0.22);
  box-shadow: 0.087px 0.996px 5px 0px rgba(0, 0, 0, 0.22);
}
.testimonial-slides .client-img img {
  border-radius: 100%;
}
.testimonial-slides .quotes {
  margin: 0 0 30px;
  font-size: 18px;
  font-style: italic;
  line-height: 30px;
}
@media (max-width: 479px) {
  .testimonial-slides .quotes {
    font-size: 16px;
    line-height: 24px;
  }
}
.testimonial-slides .client-id {
  margin: 0;
  font-weight: 400;
}
.testimonial-slides .client-id:before {
  content: '';
  display: block;
  margin: 0 auto 30px;
  width: 47px;
  height: 2px;
}
.testimonial-slides .client-id span {
  font-weight: 300;
}
.testimonial-slides .owl-dots {
  display: table;
  margin: 50px auto 0;
}
.testimonial-slides .owl-dot {
  float: left;
  width: 13px;
  height: 13px;
  border: 1px solid;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.testimonial-slides .owl-dot + .owl-dot {
  margin-left: 12px;
}

.testimonial2 {
  padding: 95px 0 130px;
}
.testimonial2 .quote-sign {
  padding-top: 23px;
  padding-bottom: 35px;
}
.testimonial2 .testimonial2-carousel {
  max-width: 870px;
  margin: 0 auto;
}
.testimonial2 .testimonial2-carousel .testimonail-footer {
  display: table;
  margin: 0 auto;
}
.testimonial2 .testimonial2-carousel .testimonail-footer .media-left {
  padding-right: 15px;
}
.testimonial2 .testimonial2-carousel .testimonail-footer .media-left a {
  width: 86px;
  height: 86px;
  display: block;
  line-height: 86px;
}
.testimonial2 .testimonial2-carousel .testimonail-footer .media-body {
  width: auto;
  vertical-align: middle;
  text-align: left;
}
.testimonial2 .testimonial2-carousel .testimonail-footer .this-title {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}
.testimonial2 .testimonial2-carousel .testimonail-footer .this-pos {
  margin: 3px 0 0;
  font-size: 16px;
  font-weight: 300;
}
.testimonial2 .owl-dots {
  margin-top: 45px;
}
.testimonial2 .owl-dot {
  width: 12px;
  height: 12px;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  border-radius: 100%;
  border: none;
}
.testimonial2 p {
  text-align: center;
  font-size: 18px;
  line-height: 34px;
  margin-bottom: 35px;
  font-weight: 300;
  font-style: italic;
}

/*--------------------------------------------------------------------------------------------*/
.project-studies {
  padding: 110px 0 5px;
}
@media (max-width: 639px) {
  .project-studies {
    padding-bottom: 50px;
  }
}
.project-studies:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: -webkit-calc(50% + 125px);
  height: calc(50% + 125px);
  background: url(../images/studies.png) no-repeat scroll center bottom;
  z-index: 0;
}
@media (max-width: 1199px) {
  .project-studies:before {
    height: -webkit-calc(50% + 127px);
    height: calc(50% + 127px);
  }
}
@media (max-width: 991px) {
  .project-studies:before {
    height: -webkit-calc(50% + 125px);
    height: calc(50% + 125px);
  }
}
@media (max-width: 767px) {
  .project-studies:before {
    height: -webkit-calc(50% + 123px);
    height: calc(50% + 123px);
  }
}
@media (max-width: 639px) {
  .project-studies:before {
    height: 100%;
  }
}
.project-studies.style2 {
  padding: 110px 0 90px;
}
.project-studies.style2:before {
  height: 100%;
}
.project-studies .container {
  z-index: 1;
  position: relative;
}

.project-studies-box {
  padding-top: 23px;
}

.studies-blocks {
  margin: 0 auto;
  width: 982px;
  height: 982px;
  padding-top: 133px;
  overflow: hidden;
}
@media (max-width: 1199px) {
  .studies-blocks {
    width: 840px;
    height: 840px;
    padding-top: 114px;
  }
}
@media (max-width: 991px) {
  .studies-blocks {
    width: 728px;
    height: 728px;
    padding-top: 97px;
  }
}
@media (max-width: 767px) {
  .studies-blocks {
    width: 637px;
    height: 637px;
    padding-top: 84px;
  }
}
@media (max-width: 639px) {
  .studies-blocks {
    width: 100%;
    height: auto;
    padding-top: 0;
  }
}
.studies-blocks .blocks-box {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  display: block;
  width: 714px;
  height: 714px;
  margin: 0 auto;
}
@media (max-width: 1199px) {
  .studies-blocks .blocks-box {
    width: 614px;
    height: 614px;
  }
}
@media (max-width: 991px) {
  .studies-blocks .blocks-box {
    width: 534px;
    height: 534px;
  }
}
@media (max-width: 767px) {
  .studies-blocks .blocks-box {
    width: 470px;
    height: 470px;
  }
}
@media (max-width: 639px) {
  .studies-blocks .blocks-box {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    height: auto;
  }
}
@media (max-width: 479px) {
  .studies-blocks .blocks-box {
    width: auto;
  }
}

.study-block {
  margin: 10px;
  width: 337px;
  height: 337px;
  float: left;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
}
@media (max-width: 1199px) {
  .study-block {
    width: 287px;
    height: 287px;
  }
}
@media (max-width: 991px) {
  .study-block {
    width: 247px;
    height: 247px;
  }
}
@media (max-width: 767px) {
  .study-block {
    width: 215px;
    height: 215px;
  }
}
@media (max-width: 479px) {
  .study-block {
    margin: 10px auto;
    float: none;
  }
}
.study-block .block-inner {
  margin: 0;
  border: 6px solid;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.study-block .rotate-back {
  -webkit-transform: rotate(-45deg) translateY(-21%);
  -ms-transform: rotate(-45deg) translateY(-21%);
  transform: rotate(-45deg) translateY(-21%);
  width: 460px;
  height: 460px;
  margin: auto;
  position: relative;
  left: 1px;
}
@media (max-width: 1199px) {
  .study-block .rotate-back {
    width: 390px;
    height: 390px;
  }
}
@media (max-width: 991px) {
  .study-block .rotate-back {
    width: 334px;
    height: 334px;
  }
}
@media (max-width: 767px) {
  .study-block .rotate-back {
    width: 288px;
    height: 288px;
  }
}
.study-block .bg-img {
  height: 230px;
  overflow: hidden;
  margin: 0 auto;
}
@media (max-width: 1199px) {
  .study-block .bg-img {
    height: 195px;
  }
}
@media (max-width: 991px) {
  .study-block .bg-img {
    height: 167px;
  }
}
@media (max-width: 767px) {
  .study-block .bg-img {
    height: 144px;
  }
}
.study-block .shot {
  position: relative;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  max-height: 100%;
}
.study-block .study-about {
  margin: 0;
  text-align: center;
}
.study-block .study-about .client-logo {
  line-height: 75px;
  margin-top: 12px;
  margin-bottom: 12px;
}
@media (max-width: 1199px) {
  .study-block .study-about .client-logo {
    line-height: 55px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media (max-width: 991px) {
  .study-block .study-about .client-logo {
    line-height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .study-block .study-about .client-logo {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
.study-block .study-about .client-logo img {
  max-height: 75px;
}
@media (max-width: 1199px) {
  .study-block .study-about .client-logo img {
    max-height: 55px;
  }
}
@media (max-width: 991px) {
  .study-block .study-about .client-logo img {
    max-height: 35px;
  }
}
.study-block .study-about .this-case {
  margin: 0;
  font-size: 20px;
}

.study-blocks2 {
  padding-top: 9px;
}

@media (max-width: 599px) {
  .study-block-carousel {
    max-width: 360px;
    margin: 0 auto;
  }
}
.study-block-carousel .owl-dots {
  display: table;
  margin: 25px auto 0;
}
.study-block-carousel .owl-dot {
  float: left;
  width: 13px;
  height: 13px;
  border: 1px solid;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.study-block-carousel .owl-dot + .owl-dot {
  margin-left: 12px;
}
.study-block-carousel .owl-dot.active {
  border-width: 2px;
}

.study-block2 {
  padding: 15px;
}
.study-block2 .inner {
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
  margin: 0;
  -webkit-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}
.study-block2 .inner img {
  max-width: 100%;
  width: auto;
  display: inline-block;
}
.study-block2 .inner:hover, .study-block2 .inner:focus {
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.22);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.22);
}
.study-block2 .this-title {
  position: relative;
  margin: 0;
  padding: 25px 20px;
  text-align: center;
}
.study-block2 .title-text {
  line-height: 20px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 500;
}
.study-block2 .target-page {
  position: absolute;
  width: 49px;
  height: 49px;
  -webkit-box-shadow: 0.087px 0.996px 5px 0px rgba(0, 0, 0, 0.22);
  box-shadow: 0.087px 0.996px 5px 0px rgba(0, 0, 0, 0.22);
  line-height: 49px;
  top: -24.5px;
  right: 20px;
  border-radius: 100%;
}
.study-block2 .target-page:hover, .study-block2 .target-page:focus {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
@media (max-width: 767px) {
  .study-block2.style2 {
    max-width: 385px;
    margin: 0 auto;
  }
}

/*--------------------------------------------------------------------------------------------*/
.served-clients {
  padding: 90px 0;
}

.served-client {
  text-align: center;
  line-height: 95px;
}
.served-client img {
  max-width: 100%;
}

/*--------------------------------------------------------------------------------------------*/
@media (min-width: 1920px) {
  .main-slider-area.row {
    max-width: 1920px;
    margin: 0 auto;
  }
}

.rev_slider {
  overflow: hidden;
}
.rev_slider .welcome-Title {
  font-weight: 300;
}
.rev_slider .welcome-Title:after {
  content: '';
  width: 46px;
  height: 2px;
  display: block;
  margin-top: 20px;
}
.rev_slider .welcome-Title2 {
  padding: 30px !important;
}
@media (max-width: 991px) {
  .rev_slider .welcome-Title2 {
    text-align: center;
  }
}
@media (max-width: 479px) {
  .rev_slider .welcome-Title2 {
    padding: 15px !important;
  }
}
.rev_slider .welcome-Title2:after {
  display: none;
}
@media (max-width: 991px) {
  .rev_slider .welcome-Title3 {
    text-align: center;
  }
}
.rev_slider .welcome-Title3:after {
  display: none;
}
.rev_slider .welcome-Content {
  font-weight: 300;
}
@media (max-width: 991px) {
  .rev_slider .welcome-Content2 {
    display: none;
  }
}
.rev_slider .slide-Img img {
  max-width: 100% !important;
  height: auto !important;
}
@media (max-width: 991px) {
  .rev_slider .check-o-list {
    display: none;
  }
}
.rev_slider .check-o-list li + li {
  margin: 0;
}
.rev_slider .slide-Video {
  -webkit-box-shadow: 0px 0px 9px 0px rgba(32, 43, 51, 0.9);
  box-shadow: 0px 0px 9px 0px rgba(32, 43, 51, 0.9);
  border: 20px solid;
}

/*--------------------------------------------------------------------------------------------*/
.project-contact-banner {
  padding: 40px 0;
}
.project-contact-banner h2 {
  margin: 0 0 10px;
  font-weight: 300;
}
.project-contact-banner p {
  font-size: 16px;
  font-weight: 300;
}
.project-contact-banner .btn-holder {
  padding-top: 10px;
}
@media (max-width: 767px) {
  .project-contact-banner .btn-holder {
    text-align: left;
  }
}

/*--------------------------------------------------------------------------------------------*/
/*Revenue Chart*/
.revenue-chart {
  padding: 100px 0 160px;
}
.revenue-chart .chart-row {
  padding-top: 50px;
}
.revenue-chart p {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 25px;
}

.check-o-list {
  font-weight: 400;
  line-height: 20px;
  font-size: 15px;
}
.check-o-list li {
  padding-left: 30px;
}
.check-o-list li + li {
  margin-top: 22px;
}
.check-o-list i {
  width: 30px;
  margin-left: -30px;
}

#revenueChart {
  height: 260px;
}

/*--------------------------------------------------------------------------------------------*/
.page-cover {
  height: 289px;
  -webkit-background-size: cover;
  background-size: cover;
  background: no-repeat scroll center center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.page-cover .row {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}
.page-cover .page-title {
  font-size: 36px;
  font-weight: 300;
  margin: 0;
  text-transform: capitalize;
}
.page-cover .page-title:after {
  content: '';
  display: block;
  height: 2px;
  width: 47px;
  margin-top: 15px;
}

.page-cover2 {
  height: 454px;
  z-index: 1;
  -webkit-background-size: cover;
  background-size: cover;
  background: no-repeat scroll center center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.page-cover2:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}
.page-cover2 .row {
  position: relative;
  z-index: 2;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}
.page-cover2 .container {
  text-align: center;
  max-width: 880px;
}
.page-cover2 .h1 {
  font-weight: 300;
  margin-top: 0;
}
.page-cover2 .sub-h4 {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.25px;
  margin-bottom: 25px;
  margin-top: 0;
}
.page-cover2 .sub-h4:after {
  content: '';
  display: block;
  margin: 25px auto 0;
  width: 47px;
  height: 2px;
}
.page-cover2 p {
  font-size: 16px;
  font-weight: 300;
  line-height: 27px;
  margin: 0;
}

.fun-fact {
  padding: 52px 15px;
}
@media (max-width: 479px) {
  .fun-fact {
    padding: 30px 15px;
    width: 100%;
  }
}

.fact {
  display: table;
  margin: 0 auto;
  font-weight: 300;
}
.fact .icon {
  line-height: 58px;
  margin-right: 26px;
  float: left;
}
.fact .counter {
  float: left;
  font-size: 48px;
  line-height: 58px;
  padding-right: 18px;
}
.fact .fact-about {
  padding: 9px 0;
  float: left;
  line-height: 20px;
}

/*Shop Tabs*/
.shop-tabs {
  margin-bottom: 50px;
}
.shop-tabs .nav {
  border: none;
}
.shop-tabs .nav li a {
  border: none;
  background: none;
  border-radius: 0;
  line-height: 49px;
  padding: 0 33px;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  text-transform: capitalize;
}
@media (max-width: 479px) {
  .shop-tabs .nav li a {
    padding: 0 25px;
  }
}
.shop-tabs .nav li a:hover, .shop-tabs .nav li a:focus {
  border: none;
}
.shop-tabs .tab-pane {
  padding: 33px;
}
.shop-tabs .tab-pane p {
  line-height: 27px;
  margin-bottom: 0;
  font-weight: 300;
}
.shop-tabs .tab-pane p + p {
  margin-top: 30px;
}
.shop-tabs .tab-title {
  margin-top: 0;
  margin-bottom: 25px;
  font-weight: 500;
}

/*--------------------------------------------------------------------------------------------*/
.about-briefs {
  padding: 118px 0 0;
}

.about-brief .img-block {
  padding-top: 18px;
}
@media (max-width: 767px) {
  .about-brief .img-block {
    text-align: center;
    margin-bottom: 20px;
  }
}
.about-brief .img-block img {
  display: inline-block;
}
.about-brief .sectionTitle {
  margin-bottom: 35px;
}
.about-brief p {
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 0;
  font-weight: 300;
}

.why-choose:before{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(../images/about/bg1.jpg) no-repeat scroll center center;
  opacity: 0.21;
}

.choose-cause {
  text-align: center;
  padding: 23px 15px 15px;
}
.choose-cause .icon-holder {
  border-radius: 50%;
  -webkit-box-shadow: 0.087px 0.996px 5px 0px rgba(0, 0, 0, 0.22);
  box-shadow: 0.087px 0.996px 5px 0px rgba(0, 0, 0, 0.22);
  width: 100px;
  height: 100px;
  line-height: 100px;
  margin: 0 auto;
}
.choose-cause .this-title {
  font-size: 22px;
  font-weight: 400;
  margin: 35px 0 30px;
}
.choose-cause .this-about {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
}

.team-members {
  padding: 115px 0 135px;
}

@media (max-width: 767px) {
  .team-members-here {
    max-width: 450px;
    margin: 0 auto;
  }
}
@media (max-width: 479px) {
  .team-members-here {
    max-width: 290px;
    margin: 0 auto;
  }
}

.team-member {
  padding: 20px 15px;
}
@media (max-width: 767px) {
  .team-member {
    max-width: 50%;
    float: left;
  }
}
@media (max-width: 479px) {
  .team-member {
    max-width: 100%;
    float: left;
  }
}
.team-member .inner {
  margin: 0;
}
.team-member .img-holder {
  margin: 0;
  position: relative;
}
.team-member .img-holder img {
  width: 100%;
}
.team-member .img-holder.show-cont img {
  opacity: 0.07;
}
.team-member .img-holder.show-cont .hover-box {
  opacity: 1;
}
.team-member .img-holder.show-cont .hover-trigger img {
  opacity: 1;
}
.team-member .hover-box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 35px 32px;
  opacity: 0;
  -webkit-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}
@media (max-width: 1199px) {
  .team-member .hover-box {
    padding: 15px 20px;
  }
}
.team-member .hover-box p {
  font-size: 15px;
  line-height: 27px;
  font-weight: 300;
  margin-bottom: 25px;
}
@media (max-width: 1199px) {
  .team-member .hover-box p {
    line-height: 24px;
    margin-bottom: 15px;
  }
}
@media (max-width: 767px) {
  .team-member .hover-box p {
    font-size: 14px;
    line-height: 20px;
  }
}
.team-member .social-nav li {
  float: left;
}
.team-member .social-nav li + li {
  margin-left: 20px;
}
.team-member .social-nav li a {
  font-size: 18px;
}
.team-member .hover-trigger {
  position: absolute;
  border-radius: 50%;
  -webkit-box-shadow: 0.087px 0.996px 5px 0px rgba(0, 0, 0, 0.22);
  box-shadow: 0.087px 0.996px 5px 0px rgba(0, 0, 0, 0.22);
  width: 49px;
  height: 49px;
  line-height: 49px;
  text-align: center;
  right: 20px;
  bottom: -24.5px;
  z-index: 2;
  cursor: pointer;
}
.team-member .hover-trigger img {
  width: auto;
  -webkit-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}
.team-member .this-title {
  font-weight: 400;
  margin-top: 25px;
  margin-bottom: 8px;
  text-transform: capitalize;
}
.team-member .this-position {
  margin: 0;
  text-transform: capitalize;
  font-weight: 400;
}

/*About Blocks*/
.about-blocks {
  background: url(../images/studies2.png) no-repeat scroll center bottom;
  padding: 110px 0 140px;
}

.about-block {
  padding: 15px;
}
.about-block .icon-holder {
  line-height: 35px;
}
.about-block .this-title {
  margin: 20px 0 35px;
  font-weight: 400;
  font-size: 21px;
}
.about-block .this-title:after {
  content: '';
  display: block;
  width: 47px;
  height: 2px;
  margin-top: 15px;
}
.about-block .this-about {
  font-size: 16px;
  line-height: 27px;
  font-weight: 300;
  margin-bottom: 0;
}
.about-block.style2 .this-title {
  margin-top: 25px;
}
.about-block.style2 .this-title:after {
  display: none;
}

/*--------------------------------------------------------------------------------------------*/
.contact-form-area {
  padding: 102px 0 130px;
  background: url(../images/studies2.png) no-repeat scroll center bottom;
}

.contact-text {
  font-size: 16px;
  font-weight: 300;
  line-height: 27px;
  margin: 10px 0 55px;
}

.contact-form-box {
  position: relative;
}

.contact-form {
  margin: 0;
}
.contact-form .form-group {
  margin-bottom: 40px;
}
.contact-form .form-control {
  height: 53px;
  line-height: 51px;
  border: 1px solid;
  padding: 0 20px;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 16px;
  font-weight: 300;
}
.contact-form .form-control + .error {
  font-weight: 300;
  font-size: 15px;
}
.contact-form .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.contact-form textarea.form-control {
  height: 190px;
  resize: none;
}

#success, #error {
  font-size: 16px;
  font-weight: 300;
  line-height: 27px;
  padding: 15px;
  display: none;
}

#mapBox {
  height: 665px;
}

.contact-infos {
  padding: 80px 0;
}

.contact-info {
  padding: 15px;
}
@media (max-width: 767px) {
  .contact-info {
    max-width: 320px;
    margin: 0 auto;
  }
}
.contact-info .media-left i {
  font-size: 30px;
  width: 45px;
}
.contact-info .this-title {
  margin: 0 0 30px;
  font-weight: 300;
  font-size: 21px;
}
.contact-info .this-title:after {
  content: '';
  display: block;
  width: 47px;
  height: 2px;
  margin-top: 15px;
}
.contact-info .list-unstyled li {
  font-size: 16px;
  font-weight: 300;
}
.contact-info .list-unstyled li + li {
  margin-top: 15px;
}
.contact-info .list-unstyled li a.email {
  text-decoration: underline;
}

/*--------------------------------------------------------------------------------------------*/
.sidebar {
  padding-top: 89px;
  padding-bottom: 89px;
}
@media (max-width: 991px) {
  .sidebar {
    padding-top: 50px;
  }
}
.sidebar .widget {
  padding: 40px 35px 35px 30px;
}
@media (max-width: 1199px) {
  .sidebar .widget {
    padding: 30px 25px 25px;
  }
}
.sidebar .widget + .widget {
  margin-top: 30px;
}
.sidebar .widget-title {
  font-size: 20px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 25px;
  text-transform: capitalize;
}
.sidebar .widget-search {
  padding: 30px 30px 35px;
}
@media (max-width: 1199px) {
  .sidebar .widget-search {
    padding: 20px 25px 25px;
  }
}
.sidebar .widget-search .widget-title {
  margin-bottom: 15px;
}
.sidebar .widget-search .input-group {
  -webkit-box-shadow: 0.087px 0.996px 5px 0px rgba(0, 0, 0, 0.22);
  box-shadow: 0.087px 0.996px 5px 0px rgba(0, 0, 0, 0.22);
}
.sidebar .widget-search .form-control {
  height: 38px;
  line-height: 38px;
  border-radius: 0;
  padding: 0 14px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  -webkit-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
  font-weight: 300;
}
.sidebar .widget-search .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.sidebar .widget-search .input-group-addon {
  background: none;
  padding: 0;
  border: none;
}
.sidebar .widget-search button {
  padding: 0 14px;
  line-height: 38px;
  height: 38px;
  border: none;
  font-size: 18px;
}
.sidebar .widget-nav li a {
  padding: 0 0 0 24px;
  background: url(../images/icons/posts/1.png) no-repeat scroll left center;
  line-height: 35px;
  font-size: 16px;
  font-weight: 400;
}
.sidebar .popular-post {
  padding-bottom: 25px;
}
.sidebar .popular-post + .popular-post {
  padding: 25px 0;
  margin: 0;
  border-top: 1px solid;
}
.sidebar .popular-post .media-left {
  padding-right: 20px;
}
@media (max-width: 1199px) {
  .sidebar .popular-post .media-left {
    padding-right: 15px;
  }
}
.sidebar .popular-post .this-title {
  margin-top: -5px;
  margin-bottom: 10px;
}
.sidebar .popular-post .this-title a {
  font-size: 16px;
  line-height: 24px;
}
.sidebar .popular-post .by-date {
  margin: 0;
  font-weight: 300;
}

/*Shop Sidebar*/
.shop-sidebar {
  padding: 100px 15px 30px;
}
@media (max-width: 767px) {
  .shop-sidebar {
    max-width: 580px;
    margin: 0 auto;
  }
}
.shop-sidebar .widget {
  margin: 0;
}
.shop-sidebar .widget + .widget {
  padding: 40px 0;
}
.shop-sidebar .widget + .widget + .widget {
  border-top: 1px solid;
}
.shop-sidebar .widget-title {
  margin: 0 0 25px;
  font-weight: 500;
}

.product-search .form-control {
  height: 40px;
  padding: 0 14px;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  font-weight: 300;
}
.product-search .input-group-addon {
  border-radius: 0;
  padding: 0;
  border: none;
  background: none;
}
.product-search .input-group-addon button {
  padding: 0 15px;
  line-height: 40px;
  border: none;
  font-size: 16px;
}

.price-range {
  padding-top: 5px;
}
.price-range .price-bar {
  margin: 20px 0 15px;
  font-weight: 500;
}
.price-range .range-amount {
  display: inline-block;
  border: none;
  margin-left: 2px;
}
.price-range .slider-range {
  height: 5px;
  border: none;
  border-radius: 0;
}
.price-range .ui-slider-handle {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  top: -5.5px;
  border: none;
}

.nav-widget li + li {
  margin-top: 12px;
}
.nav-widget li i {
  font-size: 18px;
  width: 20px;
  line-height: 20px;
  float: left;
}
.nav-widget li a {
  display: inline-block;
  padding: 0;
  font-weight: 300;
  text-transform: capitalize;
  line-height: 20px;
}

.related-product + .related-product {
  margin-top: 30px;
}
.related-product .media-left {
  padding-right: 18px;
}
.related-product .media-left a {
  display: block;
  width: 82px;
  height: 81px;
}
.related-product .media-left a img {
  max-width: 100%;
}
.related-product .title {
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: 500;
}
.related-product .proRating i + i {
  margin-left: 3px;
}
.related-product .price {
  margin-top: 10px;
  margin-bottom: 0;
}

/*--------------------------------------------------------------------------------------------*/
.blog-part {
  padding-top: 89px;
  padding-bottom: 89px;
}
@media (max-width: 1199px) {
  .blog-part {
    padding-bottom: 50px;
  }
}

.post {
  margin: 0;
}
.post + .post {
  margin-top: 70px;
}

.post-header .this-title {
  border-bottom: 1px solid;
  padding-bottom: 10px;
  margin: 0 0 20px;
  display: table;
  width: 100%;
}
.post-header .title-link {
  display: table-cell;
  padding-left: 20px;
  vertical-align: middle;
}
@media (max-width: 479px) {
  .post-header .title-link {
    display: block;
    padding-left: 0;
  }
}
.post-header .title-link .title {
  margin: 0;
  line-height: 30px;
}

.post-date {
  display: table-cell;
  width: 1%;
  vertical-align: middle;
}
@media (max-width: 479px) {
  .post-date {
    display: block;
  }
}
.post-date .date-wrapper {
  display: block;
  width: 100px;
}
.post-date .dd {
  display: inline-block;
  font-size: 36px;
  font-weight: 700;
  padding-right: 10px;
  border-right: 1px solid;
  line-height: 44px;
}
.post-date .mm-yy {
  display: inline-block;
  padding-top: 6px;
  padding-left: 9px;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
}

.post-meta {
  display: table;
  margin-bottom: 28px;
}
.post-meta li {
  float: left;
  font-weight: 300;
}
@media (max-width: 479px) {
  .post-meta li {
    margin-right: 15px;
    margin-bottom: 5px;
  }
}
.post-meta li + li {
  margin-left: 20px;
}
@media (max-width: 479px) {
  .post-meta li + li {
    margin-left: 0;
  }
}
.post-meta li i {
  margin-right: 10px;
  font-size: 16px;
}

.post-body {
  margin: 0;
}
.post-body .fa-quote-left {
  font-size: 30px;
  line-height: 1;
  display: block;
  margin-bottom: -5px;
}
.post-body .featured-content {
  margin: 0;
}
.post-body .featured-content img {
  max-width: 100%;
}
.post-body .this-summary, .post-body .this-summary p {
  margin: 0;
  padding: 30px 0;
  font-size: 16px;
  line-height: 27px;
  font-weight: 300;
}
.post-body .this-contents p {
  padding: 0;
  margin-bottom: 22px;
}
.post-body .this-contents h4 {
  font-family: "Roboto", sans-serif;
  margin-bottom: 15px;
}
.post-body .quote-author {
  margin: 0 0 30px;
  font-weight: 700;
}
.post-body iframe {
  width: 100%;
  border: none;
}
.post-body iframe.video {
  height: 320px;
}
.post-body iframe.audio {
  height: auto;
}

.post-format-quote .post-body .this-summary {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  line-height: 34px;
}

.pagination {
  margin: 82px auto 0;
  display: table;
}
.pagination li {
  float: left;
}
.pagination li:first-child a, .pagination li:last-child a {
  border-radius: 0;
}
.pagination li + li {
  margin-left: 10px;
}
.pagination li a {
  padding: 0 18px;
  line-height: 46px;
  font-size: 16px;
  font-weight: 300;
}

.blog-pager {
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 32px 0 30px;
  margin: 0;
}
.blog-pager li + li a {
  text-align: right;
}
.blog-pager li + li a i {
  margin-right: 0;
  margin-left: 10px;
}
.blog-pager li a {
  text-align: left;
  border: none;
  padding: 0;
}
.blog-pager li a i {
  margin-right: 10px;
}
.blog-pager li h4 {
  margin-bottom: 0;
  font-size: 20px;
}
@media (max-width: 767px) {
  .blog-pager li h4 {
    display: none;
  }
}

.about-author {
  padding: 55px 0;
  margin: 0;
}
.about-author .media-left {
  padding-right: 20px;
}
@media (max-width: 479px) {
  .about-author .media-left {
    display: block;
    padding-right: 0;
    padding-bottom: 20px;
  }
}
.about-author .media-left a {
  display: block;
  width: 165px;
}
.about-author .media-left a img {
  max-width: 100%;
}
.about-author .this-header {
  margin-bottom: 15px;
}
.about-author .title-box {
  float: left;
}
.about-author .this-title {
  font-size: 20px;
  margin: 5px 0;
}
.about-author .this-role {
  margin: 0;
}
.about-author .this-social {
  float: right;
  font-size: 15px;
}
.about-author .this-social li + li {
  margin-left: 10px;
}
.about-author p {
  line-height: 26px;
  font-weight: 300;
}

.related-post-title, .comments-title, .leave-comment-title {
  text-transform: uppercase;
  margin-top: 35px;
  margin-bottom: 15px;
  font-weight: 700;
}

.comments-title {
  margin-bottom: 36px;
}

.leave-comment-title {
  margin-top: 70px;
  margin-bottom: 48px;
}

.related-posts {
  margin-bottom: 35px;
}
.related-posts .r-post {
  padding: 15px;
}
.related-posts .r-post img {
  max-width: 100%;
}
.related-posts .this-img {
  margin-bottom: 25px;
}
.related-posts .this-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
}

.comment {
  margin: 28px 0;
  padding: 32px 50px 32px 30px;
}
@media (max-width: 767px) {
  .comment {
    padding: 30px;
  }
}
@media (max-width: 479px) {
  .comment {
    padding: 20px;
  }
}
.comment.reply {
  margin-left: 58px;
  padding-left: 38px;
}
@media (max-width: 767px) {
  .comment.reply {
    margin-left: 25px;
    padding-left: 30px;
  }
}
.comment .media-left {
  padding-right: 20px;
}
@media (max-width: 479px) {
  .comment .media-left {
    display: block;
    padding-right: 0;
    padding-bottom: 20px;
  }
}
.comment .media-left a {
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 100%;
}
.comment .media-left a img {
  border-radius: 100%;
}
.comment h4 {
  margin-top: 10px;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .comment h4 {
    margin-top: 5px;
  }
}
.comment .this-title {
  margin-right: 18px;
}
.comment .this-meta {
  font-size: 12px;
  font-weight: 300;
}
@media (max-width: 767px) {
  .comment .this-meta {
    display: block;
    margin-top: 5px;
  }
}
.comment p {
  margin: 0 0 20px;
  font-size: 15px;
  line-height: 24px;
}
.comment .reply-link {
  font-weight: 700;
}
.comment .reply-link i {
  margin-right: 10px;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.comment-form .form-group {
  margin-bottom: 22px;
}
.comment-form label {
  font-weight: 400;
  margin-bottom: 12px;
  font-size: 15px;
}
.comment-form .form-control {
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 41px;
}
.comment-form .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.comment-form textarea.form-control {
  height: 201px;
  margin-bottom: 10px;
  resize: none;
}
.comment-form .btn {
  text-transform: uppercase;
}

/*--------------------------------------------------------------------------------------------*/
.case-studies {
  padding: 55px 0 145px;
}

.gallery-filter {
  display: table;
  width: 100%;
  margin-bottom: 32px;
  border-bottom: 1px solid;
}
.gallery-filter li {
  padding: 20px;
  font-size: 16px;
  text-transform: capitalize;
  float: left;
  letter-spacing: 0.25px;
  font-weight: 400;
  line-height: 1;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}
.gallery-filter li.active {
  border-bottom: 2px solid;
}

@media (max-width: 767px) {
  .case-gallery {
    max-width: 389px;
    margin: 0 auto;
  }
}
@media (max-width: 479px) {
  .case-gallery {
    max-width: 320px;
    margin: 0 auto;
  }
}

.case-item {
  padding: 15px;
}
.case-item .inner {
  margin: 0;
  overflow: hidden;
  position: relative;
  text-align: center;
  padding-bottom: 70px;
}
.case-item .img-holder {
  margin: 0;
  height: 269px;
  line-height: 269px;
}
@media (max-width: 1199px) {
  .case-item .img-holder {
    height: 220px;
    line-height: 220px;
  }
}
@media (max-width: 991px) {
  .case-item .img-holder {
    height: 258px;
    line-height: 258px;
  }
}
@media (max-width: 767px) {
  .case-item .img-holder {
    height: 269px;
    line-height: 269px;
  }
}
@media (max-width: 479px) {
  .case-item .img-holder {
    height: 217px;
    line-height: 217px;
  }
}
.case-item .img-holder img {
  max-width: 100%;
}
.case-item .content-box {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  padding: 0 35px;
  top: 269px;
  -webkit-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}
@media (max-width: 1199px) {
  .case-item .content-box {
    top: 220px;
  }
}
@media (max-width: 991px) {
  .case-item .content-box {
    top: 258px;
  }
}
@media (max-width: 767px) {
  .case-item .content-box {
    top: 269px;
  }
}
@media (max-width: 479px) {
  .case-item .content-box {
    top: 217px;
  }
}
.case-item .this-title {
  line-height: 20px;
  margin: 0;
  padding: 25px 0;
  text-transform: uppercase;
  font-weight: 500;
}
.case-item .this-summary {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 45px;
}
@media (max-width: 1199px) {
  .case-item .this-summary {
    margin-bottom: 20px;
  }
}
.case-item .more {
  text-transform: uppercase;
  line-height: 24px;
  font-size: 14px;
  text-transform: uppercase;
  border-bottom: 1px solid;
}
.case-item .hover-trigger {
  position: absolute;
  border-radius: 50%;
  -webkit-box-shadow: 0.087px 0.996px 5px 0px rgba(0, 0, 0, 0.22);
  box-shadow: 0.087px 0.996px 5px 0px rgba(0, 0, 0, 0.22);
  width: 49px;
  height: 49px;
  line-height: 49px;
  text-align: center;
  right: 20px;
  top: 244.5px;
  z-index: 2;
  cursor: pointer;
  -webkit-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}
@media (max-width: 1199px) {
  .case-item .hover-trigger {
    top: 195.5px;
  }
}
@media (max-width: 991px) {
  .case-item .hover-trigger {
    top: 233.5px;
  }
}
@media (max-width: 767px) {
  .case-item .hover-trigger {
    top: 244.5px;
  }
}
@media (max-width: 479px) {
  .case-item .hover-trigger {
    top: 192.5px;
  }
}
.case-item .hover-trigger img {
  width: auto;
}
.case-item.full-cont .content-box {
  padding: 35px;
  top: 0;
  bottom: 0;
}
.case-item.full-cont .this-title {
  margin-bottom: 30px;
}
@media (max-width: 1199px) {
  .case-item.full-cont .this-title {
    margin-bottom: 0;
  }
}
.case-item.full-cont .hover-trigger {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.single-case {
  padding: 80px 0 108px;
}
.single-case p {
  font-size: 15px;
  line-height: 27px;
  margin-bottom: 0;
}
.single-case p + p {
  margin-top: 30px;
}
.single-case .sub-details {
  margin: 0;
}

.case-title {
  margin-bottom: 10px;
}

.case-pager {
  float: right;
  margin-top: 35px;
  display: table;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .case-pager {
    float: left;
    margin-top: 0;
    margin-bottom: 20px;
  }
}
.case-pager li {
  float: left;
}
.case-pager li a {
  font-size: 24px;
  padding: 0 11px;
}

.case-big-show {
  margin-bottom: 42px;
}

.case-sm-show {
  margin-bottom: 35px;
}

.case-summary {
  margin: 0 0 70px;
}

.case-sub-title {
  margin: 0 0 38px;
}
.case-sub-title:after {
  content: '';
  display: block;
  width: 47px;
  height: 2px;
  margin: 15px 0 0;
}

.related-case-title {
  text-transform: capitalize;
  font-weight: 400;
  margin-bottom: 30px;
  margin-top: 0;
}
@media (max-width: 767px) {
  .related-case-title {
    text-align: center;
  }
}

.feature-point-this-case {
  padding: 110px 0;
}

.feature-point-title {
  margin-top: 0;
  margin-bottom: 32px;
  font-weight: 400;
}
.feature-point-title:after {
  content: '';
  display: block;
  width: 47px;
  height: 2px;
  margin: 15px 0 0;
}

.feature-point-overview {
  font-size: 15px;
  line-height: 27px;
  margin-bottom: 55px;
}

.realated-cases2 {
  padding: 90px 0 110px;
}
.realated-cases2 .sectionTitle {
  margin-bottom: 35px;
}
.realated-cases2 .sectionTitle:after {
  display: none;
}

.related-case2 {
  padding: 15px;
}
.related-case2 .inner {
  margin: 0;
  padding: 35px 30px 55px;
  border: 1px solid;
  text-align: center;
}
.related-case2 .icon-holder {
  line-height: 31px;
  margin-bottom: 25px;
}
.related-case2 .this-title {
  max-width: 255px;
  font-size: 22px;
  margin-top: 0;
  display: inline-block;
  margin-bottom: 30px;
}
.related-case2 .this-title:after {
  display: block;
  margin: 20px auto 0;
  content: '';
  height: 1px;
  width: 40px;
}
.related-case2 p {
  font-weight: 300;
  line-height: 27px;
  margin: 0;
}

/*--------------------------------------------------------------------------------------------*/
.checkout-content {
  padding: 95px 0 100px;
}

.checkout-heading {
  font-size: 22px;
  margin-bottom: 30px;
  margin-top: 0;
  text-transform: capitalize;
}
.checkout-heading:after {
  content: '';
  display: block;
  width: 47px;
  height: 2px;
  margin: 15px 0 0;
}
.checkout-heading.child2 {
  margin-top: 28px;
}

.btn.place-order {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.checkout-form .form-group {
  margin-bottom: 20px;
}
.checkout-form .form-group label {
  line-height: 1;
  font-weight: 300;
  margin-bottom: 15px;
}
.checkout-form .form-group .form-control {
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  line-height: 41px;
  height: 43px;
  padding: 0 15px;
  font-weight: 300;
}
.checkout-form .form-group .form-control + .form-control {
  margin-top: 10px;
}
.checkout-form .checkboxs {
  margin: 10px 0 28px;
}
.checkout-form .checkboxs input {
  display: none;
}
.checkout-form .checkboxs input + label {
  position: relative;
  padding-left: 24px;
  line-height: 15px;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 300;
  cursor: pointer;
  margin: 0;
}
.checkout-form .checkboxs input + label:before, .checkout-form .checkboxs input + label:after {
  content: '';
  display: block;
  position: absolute;
}
.checkout-form .checkboxs input + label:before {
  width: 15px;
  height: 13px;
  border: 1px solid;
  left: 0;
  top: 1px;
}
.checkout-form .checkboxs input + label:after {
  width: 11px;
  height: 9px;
  top: 3px;
  left: 2px;
  -webkit-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
  opacity: 0;
}
.checkout-form .checkboxs input:checked + label:after {
  opacity: 1;
}
.checkout-form .payments {
  margin: 0 0 30px;
}
.checkout-form .payments input {
  display: none;
}
.checkout-form .payments input + label {
  position: relative;
  padding-left: 24px;
  line-height: 14px;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 300;
  cursor: pointer;
  margin: 0;
}
.checkout-form .payments input + label:before, .checkout-form .payments input + label:after {
  content: '';
  display: block;
  position: absolute;
}
.checkout-form .payments input + label:before {
  width: 14px;
  height: 14px;
  border: 1px solid;
  border-radius: 100%;
  left: 0;
  top: 0;
}
.checkout-form .payments input + label:after {
  width: 2px;
  height: 2px;
  top: 6px;
  left: 6px;
  -webkit-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
  opacity: 0;
  border-radius: 100%;
}
.checkout-form .payments input + label + article {
  font-weight: 500;
  margin-top: 0;
  font-size: 0;
  line-height: 0;
  padding: 0;
  border: 0;
  -webkit-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}
.checkout-form .payments input:checked + label:after {
  opacity: 1;
}
.checkout-form .payments input:checked + label + article {
  padding: 28px 32px;
  line-height: 24px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  font-size: 14px;
  margin-top: 20px;
}
.checkout-form .payments .option {
  margin: 0 0 15px;
}

/*--------------------------------------------------------------------------------------------*/
.shopping-cart {
  padding: 100px 0;
}

@media (max-width: 767px) {
  .table-responsive {
    border: none;
  }
}

.cart-table {
  border: 1px solid;
  margin-bottom: 50px;
}
.cart-table thead tr th {
  text-align: center;
  padding: 0 29px;
  line-height: 66px;
  height: 66px;
  font-weight: 500;
  font-size: 16px;
  border-bottom: 1px solid;
}
.cart-table thead tr th:first-child {
  text-align: left;
}
.cart-table tbody tr td {
  border: none;
  text-align: center;
  vertical-align: middle;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: 400;
}
@media (max-width: 991px) {
  .cart-table tbody tr td {
    padding: 15px;
  }
}
.cart-table tbody tr td:first-child {
  padding-right: 80px;
}
@media (max-width: 1199px) {
  .cart-table tbody tr td:first-child {
    padding-right: 30px;
  }
}
@media (max-width: 991px) {
  .cart-table tbody tr td:first-child {
    padding-right: 15px;
  }
}
.cart-table tbody tr:first-child td:first-child {
  padding-top: 30px;
}
.cart-table tbody tr:last-child td:first-child {
  padding-bottom: 30px;
}
.cart-table .alert {
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0;
  border: none;
}
.cart-table .media-left {
  padding-right: 30px;
}
@media (max-width: 1199px) {
  .cart-table .media-left {
    padding-right: 15px;
  }
}
.cart-table .media-left a {
  width: 125px;
  height: 111px;
  display: block;
}
.cart-table .media-left a img {
  width: 100%;
}
.cart-table .media-body {
  vertical-align: middle;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
.cart-table input {
  width: 62px;
  height: 38px;
  border-radius: 0;
  margin: 0 auto;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-weight: 500;
  padding: 0 10px;
  line-height: 38px;
}
.cart-table .close {
  float: none;
  font-weight: 500;
  font-size: 14px;
  text-transform: capitalize;
  text-shadow: none;
  opacity: 1;
}

.cart-related-boxs {
  margin: 0 0 34px;
  border: 1px solid;
}
.cart-related-boxs .this-title {
  line-height: 68px;
  padding: 0 30px;
  margin: 0;
  font-weight: 500;
  border-bottom: 1px solid;
}
.cart-related-boxs .form-box {
  padding: 30px 30px 40px;
  width: 100%;
}
.cart-related-boxs .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  margin-bottom: 15px;
  width: 100%;
}
.cart-related-boxs .bootstrap-select .btn {
  font-size: 14px;
  font-weight: 300;
  padding: 0 15px;
}
.cart-related-boxs .btn-mt15 {
  margin-top: 15px;
}
.cart-related-boxs .dl-horizontal dt {
  text-align: left;
  font-weight: 300;
  margin-bottom: 10px;
}
.cart-related-boxs .dl-horizontal dd {
  text-align: right;
  font-weight: 500;
}

.cupon-get .form-control {
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 43px;
}
@media (max-width: 479px) {
  .cupon-get .form-control {
    display: block;
  }
}
.cupon-get .input-group-addon {
  padding: 0;
  border: none;
}
@media (max-width: 479px) {
  .cupon-get .input-group-addon {
    display: block;
    width: 100%;
    float: left;
  }
}
.cupon-get .btn {
  height: 43px;
  line-height: 40px;
  padding: 0 30px;
}
@media (max-width: 479px) {
  .cupon-get .btn {
    width: 100%;
  }
}

/*--------------------------------------------------------------------------------------------*/
.portfolio-item {
  padding: 15px;
}
.portfolio-item .inner {
  margin: 0;
}
.portfolio-item .img-holder {
  margin: 0;
}
.portfolio-item .img-holder img {
  max-width: 100%;
}
.portfolio-item .text-holder {
  margin: 0;
  padding: 30px 34px;
  position: relative;
}
.portfolio-item .this-title {
  margin: 0 0 5px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 20px;
}
.portfolio-item .this-cats {
  margin: 0;
  line-height: 1;
  font-style: italic;
  font-weight: 400;
  text-transform: capitalize;
}
.portfolio-item .details-btn {
  position: absolute;
  border-radius: 50%;
  -webkit-box-shadow: 0.087px 0.996px 5px 0px rgba(0, 0, 0, 0.22);
  box-shadow: 0.087px 0.996px 5px 0px rgba(0, 0, 0, 0.22);
  width: 49px;
  height: 49px;
  line-height: 49px;
  text-align: center;
  right: 20px;
  top: -24.5px;
  z-index: 2;
  cursor: pointer;
  -webkit-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}
.portfolio-item .details-btn img {
  width: auto;
}
.portfolio-item .details-btn.open {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.portfolio-details {
  padding: 60px 0;
  display: none;
}
.portfolio-details .text-holder {
  padding-top: 48px;
}
.portfolio-details .this-title {
  margin: 0;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
}
.portfolio-details .this-cats {
  margin: 0 0 30px;
  line-height: 20px;
  font-weight: 300;
  text-transform: capitalize;
  font-style: italic;
}
.portfolio-details .this-about p {
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 15px;
  line-height: 27px;
}
.portfolio-details .link {
  font-weight: 400;
  font-size: 15px;
}

/*--------------------------------------------------------------------------------------------*/
.shop-content {
  padding: 85px 15px 140px;
}
@media (max-width: 991px) {
  .shop-content {
    padding-top: 0;
  }
}
@media (max-width: 767px) {
  .shop-content {
    max-width: 580px;
    margin: 0 auto;
  }
}
@media (max-width: 579px) {
  .shop-content {
    max-width: 480px;
    margin: 0 auto;
  }
}
@media (max-width: 479px) {
  .shop-content {
    max-width: 290px;
    margin: 0 auto;
  }
}

.product {
  padding: 15px;
}
@media (max-width: 767px) {
  .product {
    max-width: 290px;
    float: left;
  }
}
@media (max-width: 579px) {
  .product {
    max-width: 240px;
  }
}
@media (max-width: 479px) {
  .product {
    max-width: 100%;
  }
}
.product .img-holder {
  margin: 0;
  position: relative;
}
.product .product-img {
  max-width: 100%;
}
.product .sale-new-tag {
  line-height: 24px;
  display: inline-block;
  padding: 0 13px;
  min-width: 48px;
  font-weight: 300;
  font-size: 12px;
  text-transform: capitalize;
  position: absolute;
  top: 0;
  left: 0;
}
.product .hover-box {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}
.product .hover-box .btn-holder {
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.product .hover-box .btn-holder .row {
  text-align: center;
  width: 100%;
}
.product .pro-title {
  margin-top: 30px;
  font-weight: 500;
}
.product .pro-about {
  font-weight: 300;
  margin-bottom: 15px;
}
.product .proRating {
  margin-bottom: 5px;
}
.product .price {
  margin: 0 0 20px;
}
.product .price del {
  font-size: 14px;
  margin-right: 10px;
}
.product:hover .hover-box, .product:focus .hover-box {
  opacity: 1;
}

/*DEtails*/
.product-details {
  padding: 15px 0 60px;
}
@media (max-width: 767px) {
  .product-details {
    max-width: 100%;
  }
}
.product-details .media-left {
  padding-right: 30px;
}
@media (max-width: 767px) {
  .product-details .media-left {
    display: block;
    padding-bottom: 30px;
    padding-right: 0;
  }
}
.product-details .media-left .img-holder {
  display: block;
  width: 360px;
  max-width: 100%;
}
@media (max-width: 767px) {
  .product-details .media-body {
    width: 100%;
    display: block;
  }
}
.product-details .pro-title {
  margin-top: 0;
  font-size: 22px;
}
.product-details .price {
  margin-bottom: 30px;
}
.product-details .pro-about {
  margin-bottom: 35px;
}
.product-details .quantity-cart {
  padding-bottom: 35px;
  border-bottom: 1px solid;
  margin-bottom: 25px;
}
.product-details .quantity {
  width: 62px;
  line-height: 36px;
  height: 38px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  margin-right: 10px;
  padding: 0 14px;
  font-weight: 700;
}
.product-details .btn-sm {
  height: 38px;
  line-height: 38px;
}
.product-details .pro-cats {
  margin: 0;
  font-weight: 500;
}
.product-details .pro-cats a {
  margin-left: 3px;
}

.related-products {
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 500;
}

/*--------------------------------------------------------------------------------------------*/
.headHome div{background-image: url(../images/slide.jpg);height:650px}
.headHome div h1{ line-height: 30px;
    border-width: 0px;
    font-weight: 400;
    font-size: 40px;
    white-space: nowrap;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;text-align:center;margin:0px;color:white;padding:100px;}