#responseContainer h3{
    border-bottom : 1px solid #71c55d;
}

#responseContainer .reponse {
    border-bottom  : 1px solid #cecece;
    margin-left: 25px;
    
}

.annonceMember{
    margin-top:10px;
}


.annonceMember .tool{
    border-top :1px solid #dedede;
    text-align: right;
    width:100%;
}