{{form->Open()}}
{{form->Error()}}
{{form->Success()}}

{{form->Render(Id)}}


    <div>
        <label>{{GetCode(Blog.YourEmail)}}</label> 
        {{form->Render(Email)}}
    </div>

    <div class='center marginTop' >   
        {{form->Render(btnSubscribe)}}
    </div>  

{{form->Close()}}