<div class='flex'>
	<div class='row-fluid span12 alignLeft' id='lstTool'>
                !lstTools
        </div>        
        <div class='row alignCenter ' >
            <div class='col-md-3 row_60' id='lstElement'>
                !lstElement
            </div>
            <div class='col-md-7 cadre row_60' id='lstEditor' >
                !lstEditor
            </div>
        </div>
</div>
</div>