
{{if all == true}}

    <div class='row'>

        <div class='col-md-6'>
            <label>{{GetCode(Lang.SearchByCode)}}</label>    
            {{tbSearch}}
        </div>
        <div class='col-md-6'>
            <label>{{GetCode(Lang.SearchByText)}}</label>    
            {{tbSearchLangue}}
        </div>
    </div>


<div id='elementContainer' class='marginTop' style='height:60vh; overflow:auto;'>
    
{{/if all == true}}

    {{grid}}

    {{lkBreadCrumb}}


</div>

