.Admin{
}

.Admin .container{
    padding-top: 5px ! important; 
}

.Admin .dashboard  .block{
    border-radius:8px;
    text-align: left;
    padding:10px;
    background-color: white;
    height : 250px;
    margin-top:10px;
    box-shadow: 2px 9px 7px 0px grey;
    
}


.Admin .dashboard  .block .title{
    border-bottom: 1px solid grey;
    font-size: 24px;
    color: #757575;
    padding:5px;
    margin : 5px;
}

.Admin .block .buttons{
  position: absolute;
  bottom: 15px;  
}

.Admin .block .icones{
    display: inline-block;
    float: right;
}


.Admin ul{
    padding:inherit;
    height: calc(62%);
    overflow: auto;
}


.adminTools{
    border:1px solid black;
    position: fixed;
    right : 0px;
    bottom:0px;
    width:200px;
    height:50px;
    padding:8px;
    background-color: white;
    z-index:999;
}

.adminTools .fa, .dialogAdminTool .fa{
    cursor:pointer;
}

.dialogAdminTool{
    border:1px solid black;
    position: fixed;
    right : 0px;
    bottom:50px;
    width:500px;
    height:80vh;
    padding:8px;
    background-color: white;
    z-index:999;
    overflow:auto;
}

.dialogAdminTool #btnCloseAdminTool, #adminDebugger #btnCloseAdminDebugger{
    float:right;
}
#adminDebugger #btnCloseAdminDebugger{
    font-size:16px;
    margin-right: 5px;
    margin-top: 5px;
}

.debuggerTool{
    text-align:right;
}

.debuggerTool .fa, #adminDebugger .fa{
    cursor:pointer;
}

#widgets .removeWidget{
   float:right;
   cursor:pointer;
}