{{form->Open()}}
{{form->Error()}}
{{form->Success()}}

    <div>
        <label>{{GetCode(Cms.SelectFileToImport)}}</label>
        {{form->Render(Upload)}}
    </div>

    <div class='center marginTop' >   
        {{form->Render(btnImport)}}
    </div>  

{{form->Close()}}