#appRunMooc .mooc{border-top : 1px solid grey; text-align: left}
#appRunMooc .moocRead{font-weight: normal}
#appRunMooc .moocNotRead{font-weight :bold }

#appRunMooc .mooc .date{color: #24D6FF}
#appRunMooc .mooc div {display:inline-block; margin:5px;}
#appRunMooc .mooc span{ margin:5px;} 

#appRunMooc .tools{text-align:left;padding:5px; margin-top:-10px; background-image: linear-gradient(to bottom, #eeeeee 0px, #bebebe 100%); border-bottom:1px solid green; width:100%; margin-top:0px}
#appRunMooc .tools div{display: inline-block}

#appRunMooc #dvDesktop{
    text-align: left;
}

#appRunMooc  #Tools{text-align:left; border-bottom: 1px solid grey; margin-bottom: 2px; -moz-box-shadow: 10px 10px 5px 0px #c0c0c0;-webkit-box-shadow: 10px 10px 5px 0px #c0c0c0;-o-box-shadow: 10px 10px 5px 0px #c0c0c0;box-shadow: 10px 10px 5px 0px #c0c0c0;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=134, Strength=5);-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}

.mooc{
 text-align: left; 
 box-shadow: 0 0 0 0 rgb(0 0 0 / 20%), 0 0 4px 0 rgb(0 0 0 / 19%);;
 background-color: white;
    border: 1px solid grey;
    border-radius: 8px;
    min-height: 200px;
    height : 350px;
    background: #2a2c30;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    
}

.mooc a{
    font-size : 14px;
}
    
.mooc h2{
  border-bottom : 1px solid grey;
  font-size:18px;
  margin : 0px;
  color:white;
  background: linear-gradient(45deg, black, transparent);
  padding:8px;
  border-radius : 8px 8px 0px 0px;
  
}

.mooc h3{
    padding : 10px;
    padding-bottom:0px;
}

.mooc p{
    color:#dedede;
    margin-bottom:0px;
}
.mooc .buttons{
    position:absolute;
    bottom:10px;
    left:25%;
}
.noHover:hover{
    text-decoration: none;
}

#dvDesktop .mooc{
    height :45px;
}


.breadCrumbIcon{
    font-size: 18px;
    color: #cecece;
}


.finalBreadCrumb{
    font-size: 18px;
    color :#71c55d;
}
