#currentDashBoard{
text-align:left; 

}

.scroller{
    width:98%;
    margin:auto;
   // border:1px solid #bebebe;
    overflow:auto;
    border-radius: 8px;
}


.columns {
border:none;
width: 200vw;
overflow: auto;
vertical-align: top;
display:inline-flex;
}

.columns .column{

    display: inline-block;
    width:250px;
    padding:5px;
    border :1px solid grey;
    border-radius:8px;
    margin:5px;
    height:70vh;
    box-shadow : 2px 9px 7px 0px grey ;
    background-color: white;
    float:left;
    overflow: auto;
    
}

.columns .column .buttons{
    top: 59vh;
}

.columns .column .ticket{
    margin:2px;
    border:1px solid grey;
    border-radius: 5px;
    padding :5px;
}