{{form->Open()}}
{{form->Error()}}
{{form->Success()}}

{{form->Render(Id)}}


    <div>
        <label>{{GetCode(Comunity.Name)}}</label> 
        {{form->Render(Name)}}
    </div>
    <div>
        <label>{{GetCode(Comunity.Description)}}</label> 
        {{form->Render(Description)}}
    </div>

   
     <div>
        <label>{{GetCode(Comunity.Type)}}</label> 
        {{form->Render(Type)}}
    </div>

    
    <div class='center marginTop' >   
        {{form->Render(btnSaveComunity)}}
    </div>  

{{form->Close()}}