 <h1>{{GetCode(Ide.YourProject)}}</h1>
<div class='span11' id='Tools'>
  
      <div '>
        {{btnNewProjet}}
    </div>

   <div class='row'>
    {{foreach Projects}}
     <div class='col-md-3'>
         <div class='block projet' id='{{element->Name->Value}}' >
            <h2>{{element->Name->Value}}</h2>
            <p>{{element->Description->Value}}</p>
         
            <div class='alignRight'>
              <i id='{{element->IdEntite}}' class='fa fa-edit editProjet'></i>
              <i id='{{element->IdEntite}}' class='fa fa-trash removeProjet'></i>
            </div>
         </div>
         
      </div>
    {{/foreach Projects}}
    </div>
</div>

