.marginTop100{
    margin-top:60px;
}

#back {
    z-index: 9980;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background: white;
    filter: alpha(opacity='70');
  }
  
  #dialog{
    position: fixed;
    top :15%;
    background-color: white;;
    left:15%;
    overflow:auto;
    z-index: 10000;
    min-width: 60%;
    min-height:25%;
    transition-property: opacity;
    transition-duration: 1s;
    border-radius: 20px;
   box-shadow: 5px 5px 15px 5px grey;
   border:1px solid grey;
  }
  
  #rightDialog{
    position: fixed;
    top:0px; 
    right:0px;
    width:400px !important;
    background-color: white; 
    z-index:9999;
    height:calc(100%);
    border-left:1px solid grey;
  }

  #leftDialog{
    position: fixed;
    top:0px; 
    left:0px;
    width:400px !important;
    background-color: white; 
    z-index:9999;   
    height:calc(100%);
    border-right:1px solid grey;
  }
  
  #dialog #DialogTitle{
    color: white;
    padding :10px;
    top:0px;
    font-size: 24px;
    text-align: center;
    cursor: move;
  
  }
  
  #dialog #DialogContent{
    padding :15px;
    max-height: 800px;
    overflow:auto;
    filter: alpha(opacity='70');
   
    
  }

  #DialogRighContent .container{
      width:100% !important;
  }
  
  .dialogContent, #DialogTitle{
   font-family: "Montserrat",sans-serif;    
  }
  
  .dialogContent .link{
      font-size:14px;
  }
  #divResult {
    z-index: 10040;
    position: absolute;
    height: 200px;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 6px 6px 6px 6px;
    overflow: auto;
    background: none repeat scroll 0 0 white;
}

#divResult ul {
    text-align: left;
}

.centerContainer {
    min-height: 70vh;
    width:80%;
    margin: auto;
}

.richtTextBox .tool{
    background-color:   #bebebe;
    text-align: left;
   
}

.richtTextBox .tool i{
    cursor:pointer;
     color:white;
     margin:5px;
} 

.fa-plus{
    cursor:pointer;
}

.center{
    text-align:center;
}

