<h1>{{GetCode(Comunity.NoComunity)}}</h1>

<div class='container'>
    <div class='row'>
        <div class='col-md-6'>
            <div class='info'><i class='fa fa-info'></i>
               {{GetCode(Comunity.NewComunityDescription)}}
            </div>
        </div>
        <div class='col-md-6'>
            {{ComunityForm}}
        </div>
    </div>
</div>
        

        