#appRunIde .cadre {border : 1px solid #ababab}

/*   Hauteur       */
#appRunIde .row_20{height:220px}
#appRunIde .row_30{height:300px}
#appRunIde .row_40{height:400px}
#appRunIde .row_60{height:600px}


#appRunIde #lstElement{overflow: auto; }
#appRunIde #lstEditor{overflow: auto;width:800px;height:580px}
#appRunIde #lstEditor textarea, #IdeTemplateEditor textarea{width:780px; height:540px; margin:0px; background-color: black; color:white;}
#IdeTemplateEditor textarea{width:400px;float:left}
#IdeTemplateEditor{display:inline-block}
#IdeBrowser{width:400px; height:520px; border:1px solid grey;display:inline-block}
#tbCssFiles{background-color: black; color:yellow}

#appRunIde  #Tools{padding:5px;text-align:left; border-bottom: 1px solid grey; margin-bottom: 2px; -moz-box-shadow: 10px 10px 5px 0px #c0c0c0;-webkit-box-shadow: 10px 10px 5px 0px #c0c0c0;-o-box-shadow: 10px 10px 5px 0px #c0c0c0;box-shadow: 10px 10px 5px 0px #c0c0c0;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=134, Strength=5);-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}

#appRunIde .projet, #appRunEeFile .file, #appRunEeFile .headFolder {border-top : 1px solid grey; text-align: left; }
#appRunIde .projet{
    border: 1px solid grey;
    border-radius : 8px;
    padding:10px;
    margin :5px;
    box-shadow: 2px 2px 6px 0px grey;
}
#appRunIde .folder span , #appRunEeFile .file span, #appRunEeFile .headFolder  span {display:inline-block ;margin : 5px; width : 180px;}
#appRunIde .folder .name, #appRunEeFile .file name{cursor:pointer}
#appMenuIde td { padding:5px}

#appRunIde .projet{
    cursor: pointer;
}
#appRunIde #lstTool .fa{
    cursor:pointer;
}