<section>
    
    <input type='hidden' id='skillAppName' name='skillAppName' value='{{AppName}}' />
    
    <div>
        {{newSkillCategoryName}}

        {{btnAddCategory}}
    </div>

    <div class='marginTop'>
        {{gdCategory}}
     </div>
</section>

<script id='SkillPlugin'>
    {{pluginScript}}
</script>
