{{form->Open()}}
{{form->Error()}}
{{form->Success()}}

{{form->Render(Id)}}
{{form->Render(WorkFlowId)}}

    <div>
        <label>{{GetCode(WorkFlow.Event)}}</label> 
        {{form->Render(Event)}}
    </div>


    Event

    <div class='center marginTop' >   
        {{form->Render(btnSaveTriggerAction)}}
    </div>  

{{form->Close()}}