
<ul class='nav-menu'>
    <li class='notifyMenu' id='notifyMenu'>
    {{if connected == true}}
        <a class="fa fa-bell " ></a>
        <b>{{numberNotify}}</b>
    {{/if connected == true}}
    </li>
</ul>