<div class='row'>
    {{foreach Cms}}
    <div class='col-md-3'>
        <div class='block'>
            <h1>{{element->Name->Value}}</h1>
            <p>{{element->Description->Value}}</p>
        </div>
    </div>

    {{/foreach Cms}}

</div>
