<ul>

    {{foreach Message}}
        <li class='discussPreview {{element->GetClassReaded()}}'  id='{{element->IdEntite}}'>
            <div class='row'>
                <div class='col-md-10'>
                   <div class='title'>
                       {{element->GetTitle()}} 
                    </div>
                   <div class='subTitle'>
                     {{element->GetSubTitle()}} 
                   </div>  
                </div>
            </div>
        </li>
    {{/foreach Message}}
</ul>
  
                        
                        


