<ul >
    {{foreach Projets}}
         <li  class='linkProjet' >
            <a href='{{reseau}}/ParlonsEn/Rencontre/{{element->IdEntite}}'  >  
                <div class="avatarmini-img avatarmini" style="cursor: pointer;">
                    {{element->GetFirstImage()}}
                </div>
                
                <div class='lkProjet' >{{element->Title->Value}}</div>
            </a>
         </li>

    {{/foreach Projets}}

</ul>
