<div class='otherMessage' id='{{messageId}}'>
    
       <div class='moreAction' data-type='message'  style='float:right;right:-5px;'>
                ...  
       </div>
    
       <div class='title'> 
          
            <div title="{{pseudo}}" class="avatarmini-img avatarmini" >
                <img src="{{image}}" alt="images">
            </div>
           
            <div>
                <b>{{pseudo}}</b> <i>{{day}}</i> {{projet}}
            </div>    
        </div>
        <div class='text'>{{text}}</div>    
            
</div>
