.shopCard{
    border:none;
}

.shopCard #cardIcon{
    border:none;
    position: absolute;
    top: 9px;
    right: 15px;
    display: inline-block;
    width: 34px;
    padding: 2px;
    font-size:19px;
}

.shopCard #nbCart{
    position: absolute;
    top: 16px;
    right: 2px;
    background-color: #71c55d;
    display: inline-block;
    width: 29px;
    padding-left: 10px;
    border-radius: 44px;
}

.breadcrumb {
    font-size: 18px;
}

.breadcrumb > .active{
    color : #71c55d;
    font-size:bold;
}

.command{
    border:1px solid #bebebe;
    border-radius :8px;
    box-shadow: 0 0 0 0 rgb(0 0 0 / 20%), 0 0 4px 0 rgb(0 0 0 / 19%);
    margin-top:10px;
    padding : 10px;
}


.cardInfo h3{
    color: #555;
    border-bottom: 2px solid #71c55d;
    padding-left: 0px;
    margin-bottom: 5px;
}

.cartTable{
    margin-top: 10px;
    width:100%;
}