{{form->Open()}}
{{form->Error()}}
{{form->Success()}}

{{form->Render(Id)}}
{{form->Render(ProductId)}}


    <div>
        <label>{{GetCode(Market.YourPrice)}}</label> 
        {{form->Render(Price)}}
    </div>

    <div class='center marginTop' >   
        {{form->Render(btnSendOffer)}}
    </div>  

{{form->Close()}}