#appRunCms .cms{border-top : 1px solid #bebebe; text-align: left}
#appRunCms .cmsRead{font-weight: normal}
#appRunCms .cmsNotRead{font-weight :bold }

#appRunCms .cms .date{color: #24D6FF}
#appRunCms .cms div {display:inline-block; margin:5px;width : 180px;}
#appRunCms .cms span{ margin:5px;}
#appRunCms .fa{
    cursor:pointer;
    margin-right:5px;
}
#appRunCms #Tools{text-align:left; border-bottom: 1px solid #71c55d; margin: 5px; padding:5px;}


#appRunCms .tools{
    padding-left:2px;
}
#appRunCms .tools ul{
    text-align: left;
    margin-left: 2px
}

#appRunCms .tools ul li{
    cursor:pointer;
    border-bottom: 1px solid rgba(153, 153, 153, 0.3);
    color: #626262;
    padding-left: 5px;
}
#appRunCms .tools ul li:first-child:hover, #appRunCms .tools ul li ul li:hover{
  background: #71c55d;
    color: white;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    
}
#appRunCms .block{
  border :1px solid #71c55d;
  border-radius: 5px;
  box-shadow: 2px 9px 7px 0px grey;
  cursor:pointer;
  height :150px;
  overflow:auto;
}

#appRunCms .block h1{
    background-color: #71c55d;
    font-size: 18px;
    margin:0px;
    color:white;
    padding:5px;
}

#appRunCms .editBlock{
  border :1px dashed #bebebe;
  border-radius :10px;
  padding:10px;
  width:100%;
  margin:auto;
  margin-bottom:5px;
  margin-top:5px;
}

#appRunCms .editBlock .tools, .floatRight{
    text-align: right;
}

#appRunCms CmsTool .fa{
    margin-right: 15px;
}

#appRunCms .iconTools{
    float: right;
}
.subBlockContainer{
  width:98%;
  margin:auto;
}

.subBlockContainer .tool{
    text-align: right;
    top: 2px;
    right: 2px;
    border-bottom:1px solid #dedede;
    margin-bottom:3px;
}

.subBlock{
  border :1px dashed #bebebe;
  border-radius :10px;
  padding:10px;
}

.subBlock img{
 width:100%;
}

.subBlock .menu a{
    display: inline;
}

.subBlock .links a{
    display: block;
    text-align: left;
}

.sourceEditor{
        width: 553px;
    background: black;
    color: white;
    z-index: 999;
    display: inline-block;
    height: 123px;
    position: sticky;
}



.textTool, .selectTool{
    padding: 5px;
    margin : 2px;
    border :1px solid grey;
    cursor: pointer;
    border-radius : 5px;
}

.textTool .form-control{
    display: inline-block;
}

#checkIcon{
    position:absolute;
    
}

.linkBlock {
    margin-right:2px;
    margin-left:4px
}


.linkItem{
    display: inline-flex;
    width: 150px;
}


.pageIconTools{
    width: 100%;
    text-align: right;
}

.blockContent {
    width:100%;
}