    
    {{GetControl(Button,btnAcceptOffre,{LangValue=Market.AcceptOffer,Id=btnAcceptOffre,CssClass=btn btn-primary btnAcceptOffer,})}}
            
    {{GetControl(Button,btnRefuseOffre,{LangValue=Market.RefuseOffer,Id=btnRefuseOffre,CssClass=btn btn-danger btnRefuseOffer,})}}
            