
    {{GetControl(Button,btnAcceptOffre,{LangValue=Market.ConfirmRecept,Id=btnConfirmRecept,CssClass=btn btn-primary btnConfirmRecept,})}}
            
    {{GetControl(Button,btnRefuseOffre,{LangValue=Market.ConfirmNoRecept,Id=btnConfirmNoRecept,CssClass=btn btn-danger btnConfirmNoRecept,})}}
            
