#appRunAgenda .calendar{border-color: 1px solid grey;}
#appRunAgenda .calendar th{background-color: #71c55d;
                            border-radius: 5px 5px 0 0;color: #FFFFFF;
                            margin: 0;
                            width:150px;
                            margin:1px;
                            text-align:center;
                            padding:5px;}
#appRunAgenda .calendar td{border: 1px solid grey;}
#appRunAgenda .calendar td{width:150px;height:50px;overflow:visible}

#appRunAgenda .calendar .date{color : white;margin-left : 3px;font-size: 10px;}
#appRunAgenda .calendar .event, #appRunAgenda .calendar .eventInvit, #appRunAgenda .calendar .eventApp{position:absolute ; margin-top: 0px;margin-left :0px;}
#appRunAgenda .calendar .event{border:1px solid grey;margin:auto;background-color: #24D6FF;width : 90%;	height : 90%; color:white;-moz-box-shadow: 5px 5px 5px 0px #c0c0c0;-webkit-box-shadow: 5px 5px 5px 0px #c0c0c0;-o-box-shadow: 5px 5px 5px 0px #c0c0c0;box-shadow: 5px 5px 5px 0px #c0c0c0;filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=134, Strength=5);-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}
#appRunAgenda .calendar .event .icon-edit,  .calendar .event .icon-group, .calendar .event .icon-remove, .calendar .event .icon-arrow-left,.calendar .event .icon-arrow-right {cursor : pointer;}
#appRunAgenda .calendar .eventInvit{border:1px solid grey;margin:auto; background-color: #bebebe;width : 90%;height : 90%;
color:white;-moz-box-shadow: 5px 5px 5px 0px #c0c0c0;-webkit-box-shadow: 5px 5px 5px 0px #c0c0c0;-o-box-shadow: 5px 5px 5px 0px #c0c0c0;box-shadow: 5px 5px 5px 0px #c0c0c0;filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=134, Strength=5);-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}
#appRunAgenda .calendar .eventApp{border:1px solid grey;margin:auto; background-color: #75cc5b;width : 90%;height : 90%;
color:white;-moz-box-shadow: 5px 5px 5px 0px #75cc5b;-webkit-box-shadow: 5px 5px 5px 0px #c0c0c0;-o-box-shadow: 5px 5px 5px 0px #c0c0c0;box-shadow: 5px 5px 5px 0px #c0c0c0;filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=134, Strength=5);-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}

#appRunAgenda  #Week{text-align:left; border-bottom: 1px solid grey; margin: 5px; padding:5px;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=134, Strength=5);-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}


#appRunAgenda .legendEvent, #appRunAgenda .legendInvit,#appRunAgenda .legendApp {color:white; padding:5px ; margin : 5px;}

#appRunAgenda .legendEvent{border-left:  1px solid grey; background-color: #24D6FF}
#appRunAgenda .legendInvit{background-color: #bebebe}
#appRunAgenda .legendApp{background-color: #75cc5b}