<section>
    <h2>Paid with Stripe</h2>
    <label>Card number</label>
    <input type='text' />    
</section>

<script>
    
    document.addEventListener("DOMContentLoaded", function() {
        Plugin.Register("StripePlugin", "PaidPlugin");
    });
    
</script>