<section class='marginTop'>

    <select class='form-control'>
        <option>Facebook</option>
        <option>Twitter</option>
    </select>
    <button class='btn btn-primary'>Ajouter</button>

</section>