<div class='block' style='height:450px'>
    
    <h3>{{GetCode(Notes.LastNote)}}</h3>
    
    <ul>
{{foreach Notes}}
<li style='border-top:1px solid grey;margin-top:10px'>
<h4>{{element->DateCreated->Value}}</h4>
    <p>
        {{element->Text->Value}}
    </p>
</li>
{{/foreach Notes}}

<ul>

</div>