<div class='col-md-10 centerBlock'>
    <h1>{{GetCode(Comunity.YourWall)}}</h1>

    <div id='dashboardDiscus' >
        
        <input type='hidden' id='hdComunityId' />
        
        {{wall}}
    </div>
</div>