<div class='row'>
    <div class='col-md-4'>
      <input type='hidden' id='dateCreate' value ='{{dateCreate}}' />
      <input type='hidden' id='dateConnect' value ='{{dateConnect}}' />
      
      <h5>Frequentation par mois</h5> 
      <canvas id="dateCreateCtx"></canvas>
    </div>  
</div>