/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2 juin 2016, 18:57:08
    Author     : jerome
*/
/*------------------ WEBEMYOS ------------- */

body{
    font-family: "Montserrat"
}


#toolBar {
    height: 50px;
    margin: 2px;
    margin-bottom: 10px;
    padding: 2px;
    border: 1px solid #1EACFF;
    text-align: left;
    vertical-align: middle;
    background: white;
}

#toolBar ul li {
    display: inline;
}

#toolBar ul li img {
    width: 50px;
}

#toolBar b {
    margin: 5px;
    font-size: 2em;
    cursor: pointer;
}

/*  Menu des applications */

.App .menuApp {
    margin: 0;
    background-color: #24D6FF;
}

.App .sub {
    visibility: hidden;
    z-index: 999999;
    position: absolute;
    top: 15px;
    width: 150px;
    border: 1px solid grey;
    overflow: hidden;
     background: none repeat scroll 0 0 #0288d1;
    box-shadow: 0 0 3px grey;
    color:grey;
}

.App .subitem {
    text-align: left;
}

.App .subitem a{
    color: #b3e5fc;;
}

.App .subitem img {
    width: 20px;
    padding: 5px;
    border-radius: 0 0 8px 0;
    border-right: 1px solid grey;
    background: url("Images/toolbar.png");
    marging: 0;
}

.App .subitem span {
    margin: 5px;
}



#appToolTip {
    margin: 0;
}

#appToolBar i {
    cursor: pointer;
}

.menuApp {
    width: 98%;
}

/*---------    pop in--------------
----------------------------------------*/

#back {
    z-index: 9980;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background: white;
    filter: alpha(opacity='70');
}

/** Pop in */

.popup {
    z-index: 10037;
    position: absolute;
    padding: 5px;
    border: 1px solid grey;
    text-align: center;
    background: white;
    min-width:50vw;
    
}


.popup div {
    float: left;
    clear: both;
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
}

.popup div .title {
    font-size: 1.4em;
    font-weight: bold;
    border-bottom: 1px solid #dedede;
}

.popup div .close {
    z-index: 9995;
    float: right;
    position: relative;
    width: 25px;
    height: 25px;
    background: url('images/controls.png') no-repeat -50px top;
}

.popup div .close:hover {
    background-position: -50px -25px;
    cursor: pointer;
}

.popup {
    top: 10%;
    left: 10%;
    padding: 10px;
    text-align: center;
    min-width:50vw;
}


.popup {
    top: 10%;
    left: 10%;
    padding: 10px;
    text-align: center;
}

.popup input[type=text],
.popup select {
    margin: 5px;
}

.popup textarea {
    width: 400px;
    height: 100px;
    margin: 5px;
}

/*-------------- Div des auto complete Box ------------
-------------------------------------------------------*/

#divResult {
    z-index: 10040;
    position: absolute;
    height: 200px;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 6px 6px 6px 6px;
    overflow: auto;
    background: none repeat scroll 0 0 white;
}

#divResult ul {
    text-align: left;
}

#btnProfil{
    cursor:pointer;
}

.separation{
    border :1px solid grey;
}


.VTabStripEnabled,
.VTabStripDisabled,
.TabStripEnabled,
.TabStripDisabled {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    zoom: 1;
    width: 95%;
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    border-bottom: 0;
    text-decoration: none;
    font-size: 0.9em;
    line-height: 100%;
    color: blue;
    background: #1EACFF;
    -webkit-box-shadow: inset 0 -3px 3px rgba(0,0,0,0.03);
    -moz-box-shadow: inset 0 -3px 3px rgba(0,0,0,0.03);
    box-shadow: inset 0 -3px 3px rgba(0,0,0,0.03);
}

.TabContent
{
    margin: 15px;
    padding:10px;
}

.TabStripEnabled,
.TabStripDisabled {
    display: inline;
    padding: 5px;
    cursor: pointer;
}

.VTabStripEnabled,
.TabStripEnabled {
    background: #24D6FF;
    cursor: pointer;
    color: activeborder;
}

.VTabStripDisabled,
.TabStripDisabled {
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 6px;
    text-align: left;
    color: grey;
    background: url("images/header.gif") repeat-x scroll center top #fff;
    cursor: pointer;
}

.VTabStripEnabled,
.VTabStripDisabled:hover,
.TabStripEnabled,
.TabStripDisabled:hover {
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 6px;
    text-align: left;
    color: grey;
    background: #71c55d;
    color:white;
}

.tabDisabled {
    padding: 5px;
}

//--      Bloc Ressources  ----------//
.ressources ul{
    text-align: left;
}

.ressources ul li{
    cursor: pointer;
    text-decoration:  underline;
    color:white;
} 
.content-panel
{
    padding: 5px;
}
.elementDashboard .weather-2, .green-panel
{
    height: 200px;
    overflow :auto;
}

.elementDashboard .selectable li
{
   cursor:pointer; 
}

.tooltip
{
    background-color: white;
    padding: 5px;
    position:absolute;
    top:100px;
    left:100px;
}

.tools{color:black }

.elementDashboard{cursor:pointer}


#lstApp div{cursor:pointer}

.grid{width:100%}

.grid{ 
    border : 1px solid grey;
}

.grid .fa{
    cursor:pointer;
}

.grid th{
    background : #71c55d;
}

.grid th, .grid td{
    margin:0px;
    padding:5px;
    border : 1px solid grey;
}

.grid .entityPager{display: inline-grid; text-decoration: underline; cursor:pointer; margin-left:5px; color:white}
.grid .order {text-decoration: underline; cursor:pointer; color:white}

.buttonGrid{
    margin-bottom:5px;
    text-align: left;
}

.btn{
    border :none;
    padding:10px;
    border-radius: 15px;
}

#back {
    z-index: 9980;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background: white;
    filter: alpha(opacity='70');
  }
  
  #dialog{
    position: fixed;
    top :15%;
    background-color: white;;
    left:15%;
    overflow:auto;
    z-index: 10000;
    min-width: 60%;
    min-height:25%;
    transition-property: opacity;
    transition-duration: 1s;
    border-radius: 20px;
   box-shadow: 5px 5px 15px 5px grey;
   border:1px solid grey;
  }
  
  #rightDialog{
    position: fixed;
    top:0px; 
    right:0px;
    width:400px !important;
    background-color: white; 
    z-index:9999;
    height:calc(100%);
    overflow :auto;
    border-left:1px solid grey;
  }

  #leftDialog{
    position: fixed;
    top:0px; 
    left:0px;
    width:400px !important;
    background-color: white; 
    z-index:9999;   
    height:calc(100%);
    border-right:1px solid grey;
    overflow :auto;
  }
  
   #fullDialog{
    position: fixed;
    top:0px; 
    left:0px;
    width:100% ;
    background-color: white; 
    z-index:9999;   
    height:calc(100%);
    border-right:1px solid grey;
    overflow : auto;
  }
  
  
#DialogTitle{
   
    color: white;
    background-color:#71c55d;
    padding :10px;
    top:0px;
    font-size: 15px;
    text-align: center;
    cursor: move;
  }
  
  #dialog #DialogContent{
    padding :15px;
    max-height: 800px;
    overflow:auto;
    filter: alpha(opacity='70');
   
    
  }

  #DialogRighContent .container{
      width:100% !important;
  }
  
  .dialogContent, #DialogTitle{
   font-family: "Montserrat",sans-serif;    
  }
  
  .dialogContent .link{
      font-size:14px;
  }
  #divResult {
    z-index: 10040;
    position: absolute;
    height: 200px;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 6px 6px 6px 6px;
    overflow: auto;
    background: none repeat scroll 0 0 white;
}

#divResult ul {
    text-align: left;
}




h2{
    text-align: center;
    font-family: "Monserrat";
    font-size: 28px;
    color:#54595f;
    text-transform: uppercase;
    margin : 20px;
}

.infoBlock h6{

.infoBlock{
    border:1px solid grey;
    border-radius : 8px;
    padding:10px;
    margin:5px;
    box-shadow: 1px 1px 2px grey;
}

.infoBlock:hover{
    background-color:  #f5f4f0;
}

    color:#f94c3d;
}

.infoBlock .date{
    font-size:10px; 
    color: #bebebe;
}

.infoBlock h6{
    text-transform: uppercase;
}

.infoBlock p{
    font-family: "Montserrat",sans-serif;
}

.heigth200{
    height:200px;
}

.heigth300{
    height:300px;
}

.marginTop100{
    margin-top: 100px;
}


.fullSection{
    box-shadow: 1px 4px 18px grey;
    padding:10px;
    margin-top:20px;
}

.fullSection h2{
    color:#f94c3d;
}

.container p, .container ul{
    font-family: "Montserrat",sans-serif;
}

.center{
    text-align:center;
}

.centerLeft{
    text-align:left;
}

.centerRight{
    text-align:right;
}
#nextStepTuto{
    font-family: "Montserrat",sans-serif;
    background-color: #d0bc80;
    border-color: #d0bc80;
    color:white;
    padding: 10px; 
    border-radius:8px;
    display: block;
    cursor:pointer;
}



.errorControl{
    color:red;
    font-size:12px;
}

.error{
    padding-left : 10px;
    margin-top:10px;
    background-color: rgba(220, 53, 69, .9);
    border-radius: .25rem;
    color :white;
}

#popupNotify .extrabold{
    text-align: left;
} 

#popupNotify{
    background-color: white;
    padding : 10px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid grey;
    color: black;
}

#popupNotify button{
    margin:10px;
        display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: 8px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#popupNotify #btnNotifyYes ,#popupNotify #btnNotifyContinue{
    font-family: "Montserrat",sans-serif;
    background-color: green;
    border-color: green;
    color:white;
    font-size: 15px;
}

#popupNotify #btnNotifyNo,#popupNotify #btnNotifyQuit{
    color: #fff;
    background-color: red;
    border-color: red;
    font-size: 15px;
}

.alignRight{
    text-align: right;
}

.borderTop{
    border-top :1px solid #bebebe;
}

h6{
    font-size: 16px;
    color: black;
    font-weight: bold;
    margin-top:5px;
    border-bottom: 1px solid #eeeeee;
}

#main-content{
    margin-left:250px;
    padding:10px;
}

#sidebar{
    width : 250px;
}
#sidebar a{
    //color:#b2b3b4; 
    text-decoration: none ;
}


.sub-menu , .sub-menu a{
    padding-left:5px;
    cursor:pointer;
    color: #b2b3b4;
}


.sub-menu .fa b{
    font-family: "montserrat", sans-serif;
    margin-left: 10px;
    margin-top:25px;
}
.sub-menu.active{
    color:black;
}



#top_men{
    display: none;
}


.fa-road, .fa-flag, .fa-save{
    cursor : pointer;
}

.imageMiniContainer img{
    width:90%;
    margin:auto;
}


.profil.avatar{
    width:100px;
    height:150px;
    margin:auto;
    margin-top:25px;
    text-align: center;
}

.profil.avatar b{
    font-family: "Montserrat", sans-serif;
    color: #d0bc80;
    font-size:13px;
}

.profil .avatarImg {
    width:100px;
    height:100px;
    border-radius: 150px;
    border :4px solid white;
    overflow:hidden;
}


.sidebar-menu li{
    list-style: none;
    height: 50px;
}

#main-content{
    font-family: "Monserrat"
}

.sectionShadow{
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px #f6f6f6;
}

.grid{
    width:100%;
    border : 1px solid #f6f6f6;
    border-radius: 8px;
}

.grid th{
    text-align: center;
    background-color: #71c55d;
    color: white;
    
}

.grid td{
    text-align: center;
}

#contextMenu{
    border-radius:8px;
    background-color: #f6f6f6 !important;
}


#leftDialog #tbMessage, #rightDialog #tbMessage{
    width:80% !important;
}


.toolTipPuzzle{
    background-color: white;
    border-radius: 8px;
}

.noteBox .fa{
    color:black:
}

.noteBox .fa.active{
    color:yellow;
}

.widthCenter50{
    width:50%;
    margin:auto;
}

.width100{
    width:100%;
}
.errorLight{
    color:red;
}

.successLight{
    color:green;
}

.info{ 
  padding:5px;  
  color: #71c55d;
  border-bottom: 1px solid rgba(153, 153, 153, 0.3);
  font-size:14px;
  text-align : left;
}

.info .fa-info{
       margin-right: 5px;
    padding: 8px;
    padding-right: 12px;
    padding-left: 12px ;
    background-color: #71c55d;
    color: white;
    border-radius: 28px;
}

.widgetDashboard .picto{
   right:10px;
   display:inline;
}

.widgetDashboard ul{
    width:90%;
}