#appRunMessage .dashboard{
    border: 1px solid #d2d2d2;
    margin: 0 auto 40px;
    padding: 20px 16px 30px;
    box-shadow: 0px 4px 11px #e8e8e8;
    border-radius: 4px;
    min-height: 600px;
    max-height : 800px;
    overflow:auto;
}
#appRunMessage #notify{
    bottom:200px;
    width:80%;
    margin:auto;
    margin-top:15px;
    padding:5px
}
#appRunMessage .tchat{
    bottom:10px;
    width:95%;
    margin-left : 10px;
    padding-top:1px;
}
#appRunMessage .MessagePreview div{
}
.discussPreview
{
    border-bottom: 1px solid #d3d3d3;
    min-height:80px;
}

.discussPreview  .userImage div{
    width:10px !important;
    display: inline-block;
}

#appRunMessage .MessagePreview fa-info{ 
    position: relative;
    top: -10px;
    right: 0px;
}
#appRunMessage .MessagePreview li{
    padding:0px;
    cursor:pointer;
}
#appRunMessage .MessagePreview li:hover, .discussPreview.active{
    box-shadow: 0 0 0 0 rgb(0 0 0 / 20%), 0 0 4px 0 rgb(0 0 0 / 19%);
    border-radius :8px;
}

#appRunMessage #actualMessageUser{
    height : 500px;
    overflow-x : hidden;
    overflow-y:  auto;
}

#actualMessageUser ul{
    padding :0px;
    list-style : none;
}

#actualMessageUser ul li{
    padding:5px;
}

#appRunMessage .MessagePreview  .avatarmini-img
{
   display: inline-block;
    margin: 2px;
    margin-top : 15px;
}

.userImage div{
    float:left;
}


#appRunMessage .MessagePreview .Read .title{
      color: #707070;
}

#appRunMessage .MessagePreview .NotRead .subTitle{
      color: orange;
      font-weight: bold;
}

#appRunMessage .MessagePreview li{
    margin : 0px !important;
}
#appRunMessage .MessagePreview li .title{
  
    width:100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align:left;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    
}

#appRunMessage .MessagePreview li .subTitle, .userTitle{
    font-size: 13px;
    text-align:left;
    padding: 10px;
  
}
.userTitle{
    top: -5px;
    font-size:14px;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    padding:0px;
}

.rightColumn .userTitle{
    position:absolute; 
}

#appRunMessage .MessagePreview .row{
  padding-top:0px;
  margin-top: 0px;
}

#appRunMessage .MessagePreview li .subTitle span{
    width:100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display:block;
    margin-top:0px;
    margin-bottom:0px;
    
}

#appRunMessage .MessagePreview li .subTitle .day{
    width:100%;
    font-weight: 200;
}

#appRunMessage .MessagePreview li .date{
    font-size: 10px;
}

#appRunMessage #dashboardDiscus{
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100%);
}

#appRunMessage .discussMessage div
{
    display:inline-block;
    margin-left:10px;
}

#appRunMessage .discussMessage.otherUser{
    margin-left: 20%;
}

#appRunMessage .discussMessage.otherUser .message{
background-color: #cecece;    
max-width : 80%;
} 

#appRunMessage .discussMessage.userConnect{
    margin-left: 1%;
}

#appRunMessage .discussMessage.userConnect .message{
    background-color: #fefefe; 
    max-width : 80%;
}

#appRunMessage .discussMessage .buttons
{
    float:right;
}
#appRunMessage .discussMessage .message{
    border:1px solid grey;
    border-radius :8px;
    padding:10px;
    margin-top:10px;
}

#appRunMessage .discussMessage .message img{
    width:50px;
}

#appRunMessage .btnLarge{
    width :100%;
    color :black;
    padding:15px;
    border: none;
    height:70px;
    text-align: left;
    background-color: white;
    border-bottom: 1px solid #d3d3d3;
    font-weight: bold; 
    font-size: 22px;
}

.leftColumn #actualMessageUser{
    padding-right: 0px;
    height: 50vh;
    overflow: auto;
    overflow-x: hidden;
    border-top: 1px solid #cecece;
    padding-top:10px;
}

#appRunMessage .rightColumn{
    border-left:1px solid #bebebe;
    padding-left: 0px;
}
 .userSearch {
margin-top:5px;
margin-bottom:5px;
}

#appRunMessage .userSearch input {
    border-radius: 25px;
    width:95%;
    margin:auto;
    padding-left:40px;
}

#appRunMessage .userSearch .fa.fa-search
{
    position: relative;
    top: 35px;
    left : 20px;
    font-size : 24px
}

#appRunMessage .userSearch .fa.fa-arrow-left
{
    position: relative;
    top: 33px;
    left : 20px;
}

.titleDiscssus {
    width: 100%;
    color: black;
    font-size: 20px;
    background-color:  white;  
    padding : 10px;
    height:85px;
    border-bottom: 1px solid #d3d3d3;
}

.titleDiscssus .imgProfil{
    margin-top:10px;
}
.otherUserMessage{
    position:relative;
    left:10px;
    min-width:20%;
    max-width:70%;
    margin-top:15px;
}
.otherUserMessage .message{
    color: black;
    font-size:14px;
}
.otherUserMessage .bulleMessageOther{
    background-color:  #E2E2E2;  
    padding:10px;
    border-radius: 20px; 
    float:left;
}

.userMessage{
    position:relative;
    left:20%;
     min-width:20%;
    max-width:70%;
    margin-top:15px;
    font-size:14px;
} 

.userMessage .message{
   
    color: white;
    font-size:14px; 
}

.userMessage .bulleMessage{
    background: #71c55d;
    float:right;
    border-radius: 20px; 
   padding:10px;
}

#messageBlock{
   //position:absolute;
}
#messageBlock input{
    border-radius: 20px;
}

#messageBlock .fa-image{
    cursor:pointer;
}
.tchat {
    width: 100%;
}

.tchat .attachement{
    color:black;
    background-color:white;
}

.tchat .text  {
    width:100%;
    margin-left:10px;
    margin-bottom: 10px;
    margin-top:10px
}
.tchat div{
    display:inline-block;
}

.tchat .btn-red{
    border-radius:4px;
    background-color: #E9542C;
    font-size: 14px;
    padding-top: 2px;
    padding-bottom: 2px;
   width:200px
}

.dialogNew .title{
    border-bottom : 1px solid #555555;
    color: #555555;
    padding:10px;
    font-size:20px;
    text-align : center;
}

.dialogNew .title div{
    width : 100%;
    text-align: center;
}
.dialogNew .title i{
    float : right;
}

.dialogNew .search{
    border-bottom : 1px solid #E2E2E2;
    color: #555555;
    padding:10px;
    font-size:18px;
    padding-bottom: 0px;
}

.dialogNew .search input{
    border : none;
    width:80%;
    background-color: white;
    display:inline-block;
}
.dialogNew .search input:active, .dialogNew .search input:focus {
    border : none !important;
}


.dialogNew #resultSeachUser{
    height:300px;
    overflow : auto;
    padding: 5px; 
}


.dialogNew #resultSeachUser .userName{
    font-size: 18px;
    padding : 5px;
}

.dialogNew #resultSeachUser input[type=checkbox]{
    float:right;
}

.dialogNew .fa-arrow-right, .fa-arrow-left{
    cursor:pointer;
}

#appRunMessage .moreAction{
    color:grey;
    text-align: right;
    position:relative;
    right:10px;
    z-index: 9999;
}

#appRunMessage .likeComment{
    position:relative;
    font-size:10px;
    text-align:right;
    color: #1f96c7;
}

#appRunMessage .moreAction:hover{
    color :#555555;
}

#appRunMessage .moreAction .fa-trash{
    cursor:pointer;
}

.overlay {
    position : fixed;
    top : 0;
    left : 0;
    z-index : 999;
    background-color: #bebebe;
    opacity: 0.6; 
    width : 100%;
    height : 100%;    
}

.btnLarge .fa-pencil{
    background: rgb(42, 179, 171);
    color: #fff;
    padding: 5px;
    border-radius: 20px;
    font-size: 20px;
    padding-left: 10px;
    float:right;
} 

#dialogNew{
    border-radius: 8px;
    border-radius: 4px;
    box-shadow: 2px 2px 3px 2px #cecece;
    border:none !important;
}

.fa-pencil{
    cursor:pointer;
}

.tchat{
     border-top: 1px solid #cecece;
     padding:0px;
}

.tchat #tbMessage{
    background: white;
    width:100%;
}

.tchat .fa-image{
    margin-top:5px;
    color: #d3d3d3;
    position: relative;
    top: 4px;
    font-size:21px;
}

#dashboardDiscus .message img{
    width:95%;
}

#wallProjet .message img{
    width:50px;
} 


.titleDiscssus, .titleDiscssus .userTitle{
    background-color: white;
    z-index: 10;
}

.avatarmini img{
    width:50px !important;
}

.rightColumn .titleDiscssus .avatarmini-img{
    width:15px;
}

.rightColumn .titleDiscssus .userTitle{
    width :90%;
    background-color: white;
    border-bottom:1px solid #cecece;
    margin-bottom: 5px;

}

.moreActionMessage {
    float:right;
     font-weight: bold;
     cursor:pointer;
}

#removeActionMessage, #setAllView{
    cursor:pointer;
}

#actionMenu {
    border-radius: 8px;
    border-radius: 4px;
    box-shadow: 2px 2px 3px 2px #cecece;
    border: none !important;
    z-index: 10000;
}

#dashboardDiscus .userMessage .moreAction{
    //foat:right;
    //right:70px;
    //top:10px;
} 

.tchat b{
    display:none;
}

.dialogContent .messageContent{
    height : 65vh;
    overflow: auto;
}

.dialogContent .tchatBlock{
    position:fixed;
    bottom:0px;
    background-color: white;
    border-top : 1px solid grey;
    padding-top:5px;
}

.dialogContent .tchatTitle{
    border-bottom:1px solid #cecece;
}

@media (max-width: 1200px) {
     
    .tchat .text {
        margin-left: 10px;
    }
    
     #appRunMessage #dashboardDiscus{
        overflow-x: hidden;
        overflow-y: auto;
        height: calc(80%);
    }
    
     .userMessage{
        left:25% !important;
    }
    
    #dashboardDiscus .userMessage .moreAction{
        right:0px;
    }
}

@media (max-width: 375px) {
    
    #dashboardDiscus .userMessage .moreAction{
        right:-60px;
        top:0px;
    }
    
    .avatarmini img{
        width : 50px !important;
    }
    
     #dashboardDiscus .col-md-2{
        display: inherit !important;
        width:80%;
    }
    
     #dashboardDiscus .col-md-8{
        width:126%;
    }
    
     #dashboardDiscus .userMessage{
     width:90%;
     left:10px;    
    }
    .tchat .text{
        width:100% !important;
    }
    .tchat div{
        display: block;
    }
    
    .tchat .btn-red{
        width:100%;
    }
    
   
    
    
}