<div class='col-md-4'>
    <div class='block widgetDashboard'>
        <i class='fa fa-trash removeWidget' data-app='Blog' title='{{GetCode(EeApp.RemoveWidgetDahboard)}}'></i>
        <i class='fa fa-book title'>&nbsp;{{GetCode(Blog.Blog)}}</i>
            
        <ul>
            {{foreach Articles}}
                <li>  
                   {{element->Name->Value}} 
                   
                   {{element->GetLastComment()}} 
                   <div class='picto'>
                       <a class='fa fa-link' target='_blank' href='{{GetPath(/Blog/Article/{{element->Code->Value}} )}}'>
                    </a>
                   </div> 
                </li>
            {{/foreach Articles}}
        </ul>


    </div>
</div>
