<input type='hidden' id='hdComunityId' value='{{Comunity->IdEntite}}'/> 


<div class="container" id='appRunComunity' style='position: relative; top: 0px;'>
   
   
<div class='col-md-3'>
      
            <div class='projet'>
	        <h3>&Agrave; propos de ce projet</h3>
        
                <span style="font-size: 12px;">Actif depuis le <b class='orange'>{{Comunity->DateCreated->Value}}</b></span>
        
                <p style="font-size: 12px;">
                    {{Comunity->Description->Value}}
                </p>
            </div>  
                
             {{MemberProjetWidget}}   
                
            <div class='projet' style='display:none'>
                <h3>Les membres de ce projet</h3>
               {{Comunity->GetMembres()}}
            </div>
        </div>


    <div id='wallProjet' class='col-md-9'>        
            
        <div class='col-md-12'>
             
        <div id='dashboardDiscusMessage'>
            
            {{if isConnected == true}}
            
            <div class='messageBlock row'>
                <div class='col-md-2'>
                    <div title="Jean391" class="avatarmini-img avatarmini" style="cursor: pointer;">
                        <img src="{{userImage}}" alt="images">
                    </div>
                </div>
                <div class='col-md-10'>
                   <input id="tbMessage" type="text" class="form-control" placeholder="Publier quelque chose">
                   
                   
                </div>
                <div class='col-md-1'>
                   
                </div>    
                <div class='col-md-12 center imagesButton'>
                  {{uploadComunity}} 
                </div>
            </div>   
           
            {{/if isConnected == true}}
            
                  
            
            <div class='messages' id='messages' >  
                {{Messages}}
            </div>
       </div> 
        </div>

                        
    
    </div>
</div>
    
</div>


          
         
                        
<script>
    Comunity.Init();
</script>
                        