<input type='hidden' id='hdDiscussId' value='{{Discuss->IdEntite}}'/> 
<div class="container" id='appRunDiscuss' style='position: relative; top: 0px;'>

        <div id='dashboardDiscus' style='overflow:auto;'>
            
            {{if isConnected == true}}
            
            <div class='messageBlock row'>
                <div class='col-md-2'>
                    <div  class="avatarmini-img avatarmini" style="cursor: pointer; position: relative; left: -30px; top: -10px; zoom: 0.7; ">
                        <img src="{{userImage}}" alt="images">
                    </div>
                </div>
                <div class='col-md-10'>
                    <textarea style='height:35px' id="tbMessage" type="text" class="form-control" placeholder="Publier quelque chose"></textarea>
                </div>
 
                <div class='col-md-12 imagesButton center'>
                  {{uploadDiscuss}}
                </div>
            </div>   
           
            {{/if isConnected == true}}
            
            <div class='messages' id='messages' >  
                {{Messages}}
            </div>
       </div> 
</div>
         
                        
<script>
    ParlonsEn.Init();
</script>
                        