


<div class='messageBlock discussProjet'>

    <div>
        <h2>Echanger avec tous les membres</h2>
    </div>
    <div id ='messageProjet' >
        {{messages}}
    </div>   
    
<input type='hidden' id='projetDiscussId' value='{{projetDiscussId}}' />     
    
    
<div class='tcha' id='messageBlock' style='margin-top: 10px;padding-top:5px;border-top:1px solid #dedede' >
       
        {{uploadDiscuss}}
        <textarea id='tbMessageProjet' class='form-control' placeholder="Saisissez votre message"></textarea>
        <div class='center' style='width:100%'>
            <button class='btn btn-primary' id='btnSendMessageProjet' >Envoyer</button>
        </div>
    </div>
            
</div>