<input type='hidden' id='hdDiscussId' value='{{Discuss->IdEntite}}'/> 

<div style='text-align:center;margin-top : 50px;'>
    <p>Vous êtes inscrits à aucun projet</p>
    
    <p>Cliquez sur les projets pour voir ce que nous faisons</p>
    
    <p>Vous pouvez adhérer à chaque projet ou simplement vous y abonner.</p>
    
    <p> Dans les 2 cas, vous pourrez suivre leurs actualités ici et sur votre page d'accueil</p>
</div>
