<section style='height:auto'>
    <div class='container homeReseau' style='height:90%'>
    <div class='col-md-2'></div>
    <div class="col-md-8" style='margin:auto'>  
        <div class='row'>
               
                    </div>
                    <div class='row' style='margin-top:50px'>
                          <div class='col-md-12'>
                        <img style='width:100%' src= '{{GetPath(/images/flou4.jpg)}}' />
                        </div>
                    </div>

                    <div class='centerOverlay'></div>

                    <div class='connectDialog center'>
                        <p>Vous n'êtes pas autorisé sur ce réseau</p>  
                    </div>
        </div>
    </div>           
                
</section>