<section style='height:auto'>
    <div class='container homeReseau' style='height:90%'>
    <div class='col-md-2'></div>
    <div class="col-md-8" style='margin:auto'>  
        <div class='row'>
            <div class='connectDialog center'>
                <p>Inscrivez-vous et rejoingnez la communautée.</p>  

                <a class='btn btn-blue'  href='{{GetPath(/Singup)}}' >Je m'inscris</a>
            </div>
        </div>
    </div>           
                
</section>