<div class='App row-fluid white-panel pn' id='appRunApp' >
    <input type='hidden' id='appName' value='!name'  />
    <div id='appToolBar' class='white-header' style='display:none'>
           <div id='appToolTip' class="row ">
               <div class="col-md-3" id='appMenuApp'>
                   <div class='span10'>
                   !appMenu
                   </div>
               </div>
               <div class="col-md-7"><i class="fa fa-angle-right"></i> !name</div>
               <div class="col-md-2" style='color:grey'>!windowTool</div>  
           </div >
     </div>

      <div class='row-fluid span12'>
          <div id='appCenter' class="span10">
                  !appCenter
          </div> 
      </div>
</div>