
<label>Text rich editor</label>

<div>
    <textarea id='txt' ></textarea>
</div>

<script>

   let txt = document.getElementById("txt"); 
     MoocLessonForm.txtEditor = new TextRichEditor(txt);
 
</script>
