<div class='col-md-4'>
    <div class='block widgetDashboard'>
        <i class='fa fa-trash removeWidget' data-app='Forms' title='{{GetCode(EeApp.RemoveWidgetDahboard)}}'></i>
        <i class='fa fa-question title'>&nbsp;{{GetCode(Forms.Form)}}</i>
            
        <ul>
            {{foreach Forms}}
                <li>  
                   {{element->Libelle->Value}} 
               </li>
            {{/foreach Forms}}
        </ul>


    </div>
</div>
