<section>
    {{hdCaracteristique}}

    <div class='col-md-4'>
     
     {{lstCaracteristique}}

   </div>
   <div class='col-md-4'>
     {{lstCaracteristiqueItem}}
   </div>
   <div class='col-md-1'>
      <i id='btnAddCaracteristiqueProduct' class='fa fa-plus' title='{{GetCode(Shop.AddCaracteristique)}}' > </i>
   </div>
   <div id='lstProductCaracteristique' class='col-md-12'>
    </div>
</section>