<section class='row'>
    <div class='col-md-8'>    
        {{hdCategory}}
    
        {{lstCategorie}}
    </div>
    <div class='col-md-1'>
        <i class='fa fa-plus' id='btnAddCategoryProduct' title='{{GetCode(Shop.AddCategorie)}}' ></i>
    </div>
    <div id='lstProductCategory' class='col-md-12'>
    </div>
</section>