 <div class='col-md-6'>
    <div class='block'>
        <i class='fa fa-trash removeWidget' data-app='Lang'></i>
        <i class='fa fa-comment title'>&nbsp;{{GetCode(Lang.Lang)}}</i>
       
            <div class='col-md-12'>
            <label>Search</label>
            <input class='form-control' type ='text' id='tbSearchLang' >

            <div id='resultSearchLang' style='height:100px; overflow:auto'>
                
            </div>    
            
        </div>
    </div>
</div>
        
