<div class='block' style='height:450px'>
    
    <h3>{{GetCode(Forum.LastMessage)}}</h3>
    
    <ul>
{{foreach Messages}}
<li style='border-top:1px solid grey;margin-top:10px'>
<h4>{{element->Title->Value}}</h4>
    <p>
        {{element->GetShortMessage()}}
    </p>
    <div class='center'>
        <a href='{{GetPath(/Forum/Sujet/{{element->Code->Value}})}}'>
            {{GetCode(Forum.AddReponse)}}
        </a>
    </div>
</li>
{{/foreach Messages}}

<ul>

</div>