<div class='mooc' style='height:450px'> 

    <span style='display:block; width:100%; height: 200px; background-size: cover;background-image: url({{Mooc->GetImageFullPath()}})'>

    </span>


    <h3>{{Mooc->Name->Value}}</h3>

    <p style='font-size:8px'>
        {{Mooc->DateCreated->Value}}
    </p>

    <p>{{Mooc->Description->Value}}</p>



    <div class='center'>
        <a href ='{{GetPath(/Mooc/Mooc/{{Mooc->Code->Value}})}}' >

            {{GetCode(Mooc.StartThisMooc)}}
        </a>
    </div>

</div>
