#appRunForum h1{
color:green;
}

.forum th, .forum td {padding:5px;border:2px solid grey}
#appRunForum .forum span, .forum span{ margin:5px;} 

.forum  {}
.forum .detail {border-left:1px solid grey}
.forum div{display: inline-block}
.forum .profil{padding:5px}
.forum .title {display: block;border-bottom:1px solid grey; }
.forum div span { padding-left :10px;padding-right :10px; border-left:1px solid grey}
.forum .text {display: block; padding:10px;}

#appRunForum  #Tools{text-align:left; border-bottom: 1px solid grey; margin: 5px; padding:5px;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=134, Strength=5);-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}


.widgetForum{
    border-bottom:1px solid grey;
    margin-top:10px;
    padding:10px;
}

.widgetForum .title{
    border-bottom:1px solid grey;
    color: #31708f;
    padding: 5px;
} 

.widgetForum .message{
    margin-top:5px;

    color:white;
    padding:10px;
    border-radius:25px;
    width:75%;
    font-size:10px;
    padding-left: 15px;
    padding-right 15px;
    
}

.widgetForum .lastReponse{

    margin-top:5px;
    color:white;
    padding:10px;
    border-radius:25px;
    width:75%;
    float:right;
     font-size:10px;
      padding-left: 15px;
    padding-right 15px;
}

.messageForum {
    border : 1px solid grey;
    border-radius :8px;
    margin-bottom:10px;
}

.messageForum .tools{
    text-align:right;
    padding:5px;
}

.messageForum .info{
    background-color: #71c55d;
    color:white;
    padding:5px;
}

.messageForum .title{
    display: inline-block;
    color:white;
    text-align: center;
    width:90%
}

.messageForum .message{
    padding : 5px;
    border-bottom : 1px solid grey;
    margin-bottom:5px;
}

.messageForum .lastReponse{
    margin-left:15%;
}