<div class="block" >
<h2>{{GetCode(Downloader.ProposeYourRessource)}}</h2>
<p>{{GetCode(Downloader.ProposeYourRessourceDescription)}}</p>

<div class='center'>
    <button id='btnProposeRessouce' class='btn btn-primary'>{{GetCode(Downloader.Propose)}}</button>
</div>

</div>

<script>
    UploaderRessource.Init();
</script>