  {{form->Open()}}
  {{form->Error()}}
  {{form->Success()}}

  {{form->Render(Id)}}
  {{form->Render(ParentId)}}

   <div>
        <label>{{GetCode(Base.Name)}}</label> 
       {{form->Render(Name)}}
   </div>

 
    <div>
        <label>{{GetCode(Base.Description)}}</label> 
       {{form->Render(Description)}}
   </div>

   <div class='center' >   
       {{form->Render(btnSaveFolder)}}
    </div>  
    
  {{form->Close()}}
