<div class ='block' style='height:450px'> 

    <span style='display:block; width:100%; height: 200px; background-size: cover;background-image: url({{Article->GetImageFullPath()}})'>
  
    </span>
        
    
    <h3>{{Article->Name->Value}}</h3>
   
    <p style='font-size:10px'>
        {{Article->DateCreated->Value}}
    </p>

    <p>{{Article->Description->Value}}</p>



    <a href ='{{GetPath(/Blog/Article/{{Article->Code->Value}})}}' >

        {{GetCode(Blog.ReadThisArticle)}}
    </a>

</div>
