<div class='col-md-4'>
    <div class='block widgetDashboard'>
        <i class='fa fa-trash removeWidget' data-app='Forum' title='{{GetCode(EeApp.RemoveWidgetDahboard)}}'></i>
        <i class='fa fa-comment title'>&nbsp;{{GetCode(Forum.Forum)}}</i>
            
        <ul>
            {{foreach Messages}}
                <li>  {{element->Title->Value}} 
                   <div class='picto'>
                       <i class='fa fa-edit editMessageForum' id='{{element->IdEntite}}' ></i>
                       <a class='fa fa-link' target='_blank' href='{{GetPath(/Forum/Sujet/{{element->Code->Value}} )}}'>
                    </a>
                   </div> 
                </li>
            {{/foreach Messages}}
        </ul>


    </div>
</div>
